<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
   var xpopup;
   function bukaPopupCetak(xurl) {
      xpopup = window.open(xurl,'xpopup','width=900,height=600,resizable=yes,scrollbars=yes,right=0;center');
      xpopup.focus();
   }
   function bukaPopupUnitKerja(xurl) {
		showPopup(xurl,'',550, 550);
	}
	
	function resetFormIni() {
	   GtfwAjax.replaceContentWithUrl("subcontent-element","{URL_RESET}&ascomponent=1");
	   /**
		if(document.getElementById('unitkerja')) document.getElementById('unitkerja').value='';
		if(document.getElementById('unitkerja_label')) document.getElementById('unitkerja_label').innerHTML='';
		if(document.getElementById('program')) document.getElementById('program').value='';
		if(document.getElementById('program_label')) document.getElementById('program_label').innerHTML='';
		*/
	}
</script>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="lap_penerimaan_pnbp_alokasi_pusat" / --></h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>

 		<tr>
            <th width="150"><!-- patTemplate:gtfwgetconfig config="language" name="tahun_periode" / --></th>
            <td>
				<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tahun_anggaran"  / -->
			</td>
         </tr>
         
		 <tr>
			 <th><!-- patTemplate:gtfwgetconfig config="language" name="unit" / -->/ <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / --></th>
			 <td>
				 	<label><b>{UNITKERJA}</b></label>
			 </td>			 
		  </tr>	

      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
            <input type="reset" name="btnReset" value=" Reset " class="buttonSubmit" onclick="resetFormIni();" />
         </td>
      </tr>
   </table>
</form>
<br />

   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->

   <br />
   <form method="POST" action="{URL_DELETE}" class="xhr_simple_form dest_subcontent-element" id="form_list">
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      <div class="toolbar">
<!--   		<a href="{URL_RTF}" title="Export Rtf" ><img src="images/button-simpan.gif" alt=""><!-- patTemplate:gtfwgetconfig config="language" name="rtf" / --></a>-->
		<a href="{URL_EXCEL}" title="Export Excel" ><img src="images/button-tindaklanjuti.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="excel" / --></a>
   		<a href="javascript:void(0)" onclick="bukaPopupCetak('{URL_CETAK}')" title="Cetak" ><img src="images/button-print.gif" alt="Cetak"> <!-- patTemplate:gtfwgetconfig config="language" name="cetak" / --></a>
		<!-- <input type="submit" id="btnHapus" name="btnHapus" value="Hapus" class="inputButton" /> -->
      </div>
   </div>
   <table class="table-common" width="100%">
		<tr>
         <th rowspan="2" width="5"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <th rowspan="2"><!-- patTemplate:gtfwgetconfig config="language" name="kode" / --></th>
         <th rowspan="2" width="200"><!-- patTemplate:gtfwgetconfig config="language" name="unit_kerja" / --> / <br/>
		 <!-- patTemplate:gtfwgetconfig config="language" name="jenis_penerimaan" / --></th>
         <th rowspan="2"><!-- patTemplate:gtfwgetconfig config="language" name="target_pnbp" / --></th>
         <th colspan="12"><!-- patTemplate:gtfwgetconfig config="language" name="realisasi_pnbp" / --></th>
			<th rowspan="2"><!-- patTemplate:gtfwgetconfig config="language" name="total_realisasi" / --></th>
           
		</tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="januari" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="februari" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="maret" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="april" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="mei" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="juni" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="juli" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="agustus" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="september" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="oktober" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="november" / --></th>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="desember" / --></th>
		</tr>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="IS_DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="17" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}" >
                    <td align="center">{DATA_NOMOR}</td>
					<td>{DATA_KODE}</td>
                    <td>{DATA_NAMA}</td>
                    <td style="text-align:right;">{DATA_TARGET_PNBP}</td>
					<td style="text-align:right;">{DATA_REALJAN}</td>
					<td style="text-align:right;">{DATA_REALFEB}</td>
					<td style="text-align:right;">{DATA_REALMAR}</td>
					<td style="text-align:right;">{DATA_REALAPR}</td>
					<td style="text-align:right;">{DATA_REALMEI}</td>
                    <td style="text-align:right;">{DATA_REALJUN}</td>
					<td style="text-align:right;">{DATA_REALJUL}</td>
					<td style="text-align:right;">{DATA_REALAGS}</td>
					<td style="text-align:right;">{DATA_REALSEP}</td>
					<td style="text-align:right;">{DATA_REALOKT}</td>
					<td style="text-align:right;">{DATA_REALNOV}</td>
					<td style="text-align:right;">{DATA_REALDES}</td>
					<td style="text-align:right;">{DATA_TOTAL_REALISASI}</td>
            </tr>
            <!-- /patTemplate:tmpl -->
            <!-- patTemplate:tmpl name="data_total" -->
            <tr class="table-common-even" style="text-align:right; font-weight:bold;">
               <td colspan="3">Total</td>
               <td >{TOTAL_TARGET_PNBP}</td>
					<td >{TOTAL_JAN}</td>
					<td >{TOTAL_FEB}</td>
					<td >{TOTAL_MAR}</td>
					<td >{TOTAL_APR}</td>
					<td >{TOTAL_MEI}</td>
               <td >{TOTAL_JUN}</td>
					<td >{TOTAL_JUL}</td>
					<td >{TOTAL_AGS}</td>
					<td >{TOTAL_SEP}</td>
					<td >{TOTAL_OKT}</td>
					<td >{TOTAL_NOV}</td>
					<td >{TOTAL_DES}</td>
					<td >{TOTAL_TOTAL_REALISASI}</td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
   </form>
   <br />

   <div class="petunjuk-area">
      <h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / --></h4>
	<br />
   <div style="margin:10px 0px 0px 10px;"><div style="padding:0px; margin:1px 5px 0px 0px; width:10px; height:10px; background-color:#FFFBDD; border:#D1C698 1px solid; float: left;">    </div> = <!-- patTemplate:gtfwgetconfig config="language" name="unit_kerja" / --> </div>
	<div style="margin:10px 0px 0px 10px;"><div style="padding:0px; margin:1px 5px 0px 0px; width:10px; height:10px; background-color:#FFFDEF; border:#D1C698 1px solid; float: left;">    </div> = <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit_kerja" / --> </div>
	<div style="margin:10px 0px 0px 10px;"><div style="padding:0px; margin:1px 5px 0px 0px; width:10px; height:10px; background-color:#FFFFFF; border:#D1C698 1px solid; float: left;">    </div> = <!-- patTemplate:gtfwgetconfig config="language" name="daftar_penerimaan_unit" / --> / <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / --> </div>
   </div>
   </div>
<!-- /patTemplate:tmpl -->
