<!-- patTemplate:tmpl name="content" -->
<h1>
   <!-- patTemplate:gtfwgetconfig config="language" name="manajemen_sub_account_pertama" / -->
</h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2">
            <h2>
               <strong>
                  <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
               </strong>
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 135px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / --> / <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <td>
            <input type="text" name="kode" value="{KODE}" size="30" />
         </td>
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value="Tampilkan &raquo;" class="buttonSubmit" />
            <input type="reset" name="btnReset" value="Reset" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>

<br />

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<!-- /patTemplate:tmpl -->

<br />
<form method="POST" action="{URL_DELETE}" class="xhr_simple_form dest_subcontent-element" id="form_list" name="frm_list">
   <input type="hidden" name="control_label" value="{CONTROL_LABEL}" />
   <input type="hidden" name="control_return" value="{CONTROL_RETURN}" />
   <input type="hidden" name="control_action" value="{CONTROL_ACTION}" />

   <div class="pageBar">
      <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      <div class="toolbar">
         <a class="xhr dest_subcontent-element" href="{URL_ADD}" title="Tambah" >
            <img src="images/button-add.gif" alt="" > <!-- patTemplate:gtfwgetconfig config="language" name="tambah" / -->
         </a>
         <!-- patTemplate:tmpl name="button_delete" visibility="hidden" -->
            <input type="submit" id="btnHapus" name="btnHapus" value="Hapus"   class="inputButton" />
         <!-- /patTemplate:tmpl -->
      </div>
   </div>
   <table class="table-common" width="100%">
      <thead>
         <tr>
            <th width="50">
               <!-- patTemplate:gtfwgetconfig config="language" name="no" / -->
            </th>
            <th width="20">
               <input type="checkbox" class="CheckBoxFW_parent" />
            </th >
            <th width="100">
               <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
            </th>
            <th>
               <!-- patTemplate:gtfwgetconfig config="language" name="nama_sub_account" / -->
            </th>
            <th width="30">
               <!-- patTemplate:gtfwgetconfig config="language" name="aksi" / -->
            </th>
         </tr>
      </thead>
      <tbody>
         <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
            <!-- patTemplate:sub condition="YES" -->
            <tr>
               <td colspan="5" align="center">
                  <em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em>
               </td>
            </tr>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="NO" -->
               <!-- patTemplate:tmpl name="data_list" -->
               <tr class="{CLASS_NAME}" style="{ROW_STYLE}">
                  <td align="center">
                     {NUMBER}
                  </td>
                  <td>
                     <!-- patTemplate:tmpl name="content_checkbox" type="condition" conditionvar="ENABLE" -->
                        <!-- patTemplate:sub condition="NO" -->
                           <input type="checkbox" disabled />
                        <!-- /patTemplate:sub -->
                        <!-- patTemplate:sub condition="YES" -->
                           <input type="checkbox" class="CheckBoxFW_child" name="id[]" value="{KODE}" />
                           <input type="hidden" name="name[{KODE}]" value="{KODE} - {NAMA}" />
                        <!-- /patTemplate:sub -->
                     <!-- /patTemplate:tmpl -->
                  </td>
                  <td>
                     {KODE}
                  </td>
                  <td>
                     {NAMA}
                  </td>
                  <td class="links" align="center">
                     <!-- patTemplate:tmpl name="content_links" type="condition" conditionvar="STATUS" -->
                        <!-- patTemplate:sub condition="HIDE" -->
                           <a href="javascript:void(0);" title="Ubah">
                              <img src="images/icons/16/button-edit-disabled.gif" />
                           </a>
                        <!-- /patTemplate:sub -->
                        <!-- patTemplate:sub condition="SHOW" -->
                           <a href="{URL_EDIT}" class="xhr dest_subcontent-element" title="Ubah">
                              <img src="images/icons/16/button-edit.gif" />
                           </a>
                        <!-- /patTemplate:sub -->
                     <!-- /patTemplate:tmpl -->
                  </td>
               </tr>
               <!-- /patTemplate:tmpl -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
      </tbody>
   </table>
</form>

<script type="text/javascript">
CheckBoxFW_initiate = function (Obj)
{
   if (!Obj || Obj.className.indexOf('CheckBoxFW_parent') < 0 || !Obj.form) return;

   var CBList     = new Array;
   var CheckedAll = true;
   var FormObj    = Obj.form;

   for (var i = 0; i < FormObj.length; i++) if (FormObj[i] == Obj) break;
   if (i == FormObj.length) return;

   for(i += 1; i < FormObj.length; i++)
   {
      var CBObj = FormObj[i];
      if (CBObj.type.toUpperCase() != 'CHECKBOX') continue;
      if (CBObj.className.indexOf('CheckBoxFW_child') >= 0)
      {
         CBObj.onchange = function () {
            Obj.checkChild();
         }
         CBList[CBList.length] = CBObj;
         if (!CBObj.checked) CheckedAll = false;
      }
      if (CBObj.className.indexOf('CheckBoxFW_parent') >= 0) break;
   }

   if (CBList.length > 0)
   {
      Obj.onchange = function ()
      {
         for (var i = 0; i < CBList.length; i++){
            if(CBList[i].getAttribute('disabled') == null){
               CBList[i].checked = this.checked;
            }
         }
      }

      Obj.checkChild = function ()
      {
         var CheckedAll = true;
         for (var i = 0; i < CBList.length; i++) if (!CBList[i].checked)
         {
            CheckedAll = false;
            break;
         }
         this.checked = CheckedAll;
      }

      Obj.checked = CheckedAll;
   }
}
var formObj       = document.getElementById('form_list');
if(typeof(formObj) != 'undefined' && formObj != null){
   for (var i = 0; i < formObj.length; i++){
      CheckBoxFW_initiate(formObj[i]);
   }
}
</script>
<!-- /patTemplate:tmpl -->