<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	function sendValues(xid, xlabel,xkode) {
		document.getElementById('kp_parent_id').value=xid;
		document.getElementById('kp_parent_nama').value=xkode +' - '+xlabel;
		popupClose();
	}
</script>

<h1>Kode Penerimaan Header</h1>

<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" name="popup-filterbox">

   <table >
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>
         <tr>
            <th>Kode</th>
            <td><input type="text" name="kode" value="{KODE}" size="30" />
         </tr>
         <tr>
            <th>Nama</th>
            <td><input type="text" name="nama" value="{NAMA}" size="30" />
         </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>

<br />
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   </div>
   <table class="table-common" width="100%">
      <tr>
         <th width="5"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <th>Kode</th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="nama" / --></th>
         <th width="30"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="6" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}">
               <td align="center">{DATA_NUMBER}</td>
               <td>{DATA_KP_KODE}</td>
               <td>{DATA_KP_NAMA}</td>
               <td class="links" align="center">
               <a href="javascript:void(0)" onclick="javascript:sendValues('{DATA_KP_ID}','{DATA_KP_NAMA}','{DATA_KP_KODE}')"><img alt="Pilih" src="images/button-check.gif"/></a>
			   </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
   </form>
   <br />
<!-- /patTemplate:tmpl -->
