<!-- patTemplate:tmpl name="content" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="all" href="css/a-print-katalog.css" />
<title><!-- patTemplate:gtfwgetconfig config="language" name="bukti_kas_masuk" / --></title>
</head>

<body id="common" onload="window.print()">
<table width="60%" border="1" >
   <tr>
      <th width="20%"><!-- patTemplate:gtfwgetconfig config="organization" name="company_name" / --><br/>
      <!-- patTemplate:gtfwgetconfig config="language" name="bukti_memorial" / --></th>
      <th width="20%">&nbsp;</th>
      <th width="20%">&nbsp;</th>
   </tr>
   <tr>
      <td><!-- patTemplate:gtfwgetconfig config="language" name="no_bm" / --> : {NO_BUKTI}</td>
      <td>&nbsp;</td>
      <td><!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / --> : {TANGGAL}</td>
   </tr>
   <tr>
      <td colspan="3" height="80px" valign="top">
         <!-- patTemplate:gtfwgetconfig config="language" name="berita" / --> : {CATATAN}
      </td>
   </tr>
   <tr>
      <td align="center"><!-- patTemplate:gtfwgetconfig config="language" name="wakil_rektor_2" / --> <br/><br/><br/>{REKTOR}</td>
      <td align="center"><!-- patTemplate:gtfwgetconfig config="language" name="kepala_bidang_finansial" / --><br/><br/><br/>{FINANSIAL}</td>
      <td align="center"><!-- patTemplate:gtfwgetconfig config="language" name="kepala_urusan_audit_internal" / --><br/><br/><br/>{AUDITOR}</td>
   </tr>
</table>
</body>
</html>
<!-- /patTemplate:tmpl -->
