<!-- patTemplate:tmpl name="content" -->
<h1>
   Surat Pencairan Pengeluaran Uang (SPPU)
</h1>
<br />
<form method="POST" action="{URL_SEARCH}" id="filterbox" name="filterbox" class="dataquest xhr_simple_form dest_subcontent-element">
   <table>
      <tr class="subhead">
         <th colspan="2">
            <h2>
               <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 130px;">
            Nomor SPPU
         </th>
         <td>
            <input type="text" name="kode" id="kode" size="35" value="{KODE}" />
         </td>
      </tr>
      <tr>
         <th style="width: 130px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="no_pengajuan" / -->
         </th>
         <td>
            <input type="text" name="nomorPengajuan" id="nomorPengajuan" size="35" value="{NOMORPENGAJUAN}" />
         </td>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
         </th>
         <td>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tanggal_awal"  / -->
            </div>
            <div>
               <!-- patTemplate:gtfwgetconfig config="language" name="s_d" / -->
            </div>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tanggal_akhir"  / -->
            </div>
         </td>
      </tr>
      <tr>
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnSearch" value="Tampilkan &raquo;" class="buttonSubmit" />
            <input type="reset" name="btnReset" value="Reset" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<form name="frmList" id="frmList" method="post" action="{URL_DELETE}" class="xhr_simple_form dest_subcontent-element">
   <input type="hidden" name="control_return" value="{CONTROL_RETURN}" />
   <input type="hidden" name="control_action" value="{CONTROL_ACTION}" />
   <input type="hidden" name="control_label" value="{CONTROL_LABEL}" />
   <div class="pageBar">
      <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      <div class="toolbar">
         <a class="xhr dest_subcontent-element" href="{URL_ADD}" title="Tambah Data" >
            <img src="images/button-add.gif" alt="">
            SPPU Baru
         </a>
         <input type="submit" name="btnDelete" value="<!-- patTemplate:gtfwgetconfig config="language" name="hapus" / -->" class="inputButton" />
      </div>
   </div>
   <!-- start: Table List -->
   <table class="table-common" width="100%">
      <thead>
         <tr>
            <th style="width: 30px;">
               <!-- patTemplate:gtfwgetconfig config="language" name="no" / --> Urut
            </th>
            <th style="width: 16px;">
               <input type="checkbox" class="CheckBoxFW_parent" />
            </th>
            <th style="width: 135px;">
               <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
            </th>
            <th>
               Nomor SPPU
            </th>
            <th>
               Nomor BP
            </th>
            <th>
               Nomor CR
            </th>
            <th style="width: 235px;">
               <!-- patTemplate:gtfwgetconfig config="language" name="nominal_rp" / -->
            </th>
            <th style="width: 160px;">
               <!-- patTemplate:gtfwgetconfig config="language" name="aksi" / -->
            </th>
         </tr>
      </thead>
      <tbody>
         <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
            <!-- patTemplate:sub condition="YES" -->
               <tr>
                  <td colspan="8">
                     <center>
                        <em>
                           --<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--
                        </em>
                     </center>
                  </td>
               </tr>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="NO" -->
               <!-- patTemplate:tmpl name="data_list" -->
                  <tr class="{CLASS_NAME}">
                     <td align="center">
                        {NUMBER}
                     </td>
                     <td align="center">
                        <input type="checkbox" name="id[]" value="{ID}" class="CheckBoxFW_child" {IS_DISABLED}/>
                        <input type="hidden" name="name[{ID}]" value="{NOMOR}" />
                     </td>
                     <td align="center">
                        <!-- patTemplate:var name="tanggal" modifier="gtfwindonesiandate" format="long" separator=" " / -->
                     </td>
                     <td>
                        {NOMOR}
                     </td>
                     <td>
                        {NOMOR_BP}
                     </td>
                     <td>
                        {NOMOR_CR}
                     </td>
                     <td align="right">
                        {NOMINAL}
                     </td>
                     <td class="links">
                        <!-- patTemplate:tmpl name="is_transaksi" type="condition" conditionvar="IS_TRANSAKSI" -->
                        <!-- patTemplate:sub condition="BELUM" -->
                            <a style="{DISPLAY_EDIT}" class="xhr dest_subcontent-element" href="{URL_EDIT}" title="Ubah">
                                <img src="images/icons/16/button-edit.gif" alt="Ubah" />
                            </a>
                        <!-- /patTemplate:sub -->
                        <!-- patTemplate:sub condition="YES" -->
                            <a style="{DISPLAY_EDIT}" href="javascript:void(0);" title="Ubah">
                                <img src="images/icons/16/button-edit-disabled.gif" alt="Ubah" />
                            </a>
                        <!-- /patTemplate:sub -->
                        <!-- /patTemplate:tmpl -->                        
                        <a class="xhr dest_subcontent-element" href="{URL_DETAIL}" title="Detail">
                           <img src="images/icons/16/button-detail.gif" alt="detail" />
                        </a>
                        
                        <a href="{URL_EXPORT}" target="blank" title="Export SPPU">
                           <img src="images/icons/16/export_excel.gif" alt="Excel" />
                        </a>
                         <a style="{DISPLAY_BP}" class="xhr dest_subcontent-element" href="{URL_CETAK_BP}" title="Export BP">
                           <img src="images/icons/16/button-clipboard.gif" alt="BP" />
                        </a>
                        <!-- patTemplate:tmpl name="is_hapus_bp" type="condition" conditionvar="IS_HAPUS_BP" -->
                        <!-- patTemplate:sub condition="YES" -->
                            <a class="xhr dest_subcontent-element" href="{URL_HAPUS_BP}" title="Hapus BP">
                               <img src="images/icons/16/document_delete-16.png" alt="hapus bp" />
                            </a>
                        <!-- /patTemplate:sub -->
                        <!-- patTemplate:sub condition="NO" -->
                            <a href="javascript:alert('Bank Payment Belum Ada!');" title="Hapus BP">
                               <img src="images/icons/16/document_delete-16-gs.png" alt="hapus bp" />
                            </a>
                        
                        <!-- /patTemplate:sub -->
                        <!-- patTemplate:sub condition="TRANSAKSI_YA" -->
                            <a href="javascript:alert('Sudah Terjadi Transaksi, Bank Payment Tidak Bisa Dihapus!');" title="Hapus BP">
                               <img src="images/icons/16/document_delete-16-gs.png" alt="hapus bp" />
                            </a>
                        
                        <!-- /patTemplate:sub -->
                        <!-- /patTemplate:tmpl -->   
                        
                        <!-- a href="{EXPORT_BP}" target="blank" title="Export Bank Payment">
                           <img src="images/icons/16/button-clipboard.gif" alt="BP" />
                        </a>
                        <a href="{EXPORT_CR}" target="blank" title="Export Cash Receive">
                           <img src="images/icons/16/transkrip_nilai.gif" alt="CR" />
                        </a -->
                     </td>
                  </tr>
               <!-- /patTemplate:tmpl -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
      </tbody>
   </table>
   <!-- end: Table List -->
</form>
<br />
<div class="petunjuk-area" id="petunjuk">
   <h4>
      <!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / -->
   </h4>
   <ul>
      <li>
         <img src="images/icons/16/button-edit.gif" alt="Ubah" style="margin-bottom: -3px;" /> Update Data SPPU
      </li>
      <li>
         <img src="images/icons/16/button-detail.gif" alt="detail" style="margin-bottom: -3px;" /> Detail SPPU
      </li>
      <li>
         <img src="images/icons/16/export_excel.gif" alt="Excel" style="margin-bottom: -3px;" /> Export Excel SPPU
      </li>
      <li>
         <img src="images/icons/16/button-clipboard.gif" alt="BP" style="margin-bottom: -3px;" /> Export Bank Payment
      </li>
      <li style="display: none;">
         <img src="images/icons/16/document_delete-16.png" alt="CR" style="margin-bottom: -3px;" /> Hapus Bank Payment
      </li>
   </ul>
</div>
<script type="text/javascript">
CheckBoxFW_initiate = function (Obj)
{
   if (!Obj || Obj.className.indexOf('CheckBoxFW_parent') < 0 || !Obj.form) return;

   var CBList     = new Array;
   var CheckedAll = true;
   var FormObj    = Obj.form;

   for (var i = 0; i < FormObj.length; i++) if (FormObj[i] == Obj) break;
   if (i == FormObj.length) return;

   for(i += 1; i < FormObj.length; i++)
   {
      var CBObj = FormObj[i];
      if (CBObj.type.toUpperCase() != 'CHECKBOX') continue;
      if (CBObj.className.indexOf('CheckBoxFW_child') >= 0)
      {
         CBObj.onchange = function () {
            Obj.checkChild();
         }
         CBList[CBList.length] = CBObj;
         if (!CBObj.checked) CheckedAll = false;
      }
      if (CBObj.className.indexOf('CheckBoxFW_parent') >= 0) break;
   }

   if (CBList.length > 0)
   {
      Obj.onchange = function ()
      {
         for (var i = 0; i < CBList.length; i++){
            if(CBList[i].getAttribute('disabled') == null){
               CBList[i].checked = this.checked;
            }
         }
      }

      Obj.checkChild = function ()
      {
         var CheckedAll = true;
         for (var i = 0; i < CBList.length; i++) if (!CBList[i].checked)
         {
            CheckedAll = false;
            break;
         }
         this.checked = CheckedAll;
      }

      Obj.checked = CheckedAll;
   }
}
var formObj       = document.getElementById('frmList');
if(typeof(formObj) != 'undefined' && formObj != null){
   for (var i = 0; i < formObj.length; i++){
      CheckBoxFW_initiate(formObj[i]);
   }
}
</script>
<!-- /patTemplate:tmpl -->