<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	function setParent(xid, xlabel, jenis) {
		document.getElementById('subprogram').value=xid;
		document.getElementById('subprogram_label').value=xlabel;
		popupClose();
		if(document.getElementById('kegiatanref')){
			document.getElementById('kegiatanref').value='';
			document.getElementById('kegiatanref_label').value='';
		}
		if(jenis != 'Rutin') {
			document.getElementById('tr_waktu_mulai').style.display='';
			document.getElementById('tr_waktu_selesai').style.display='';
			document.getElementById('tr_output').style.display='';
		} else {
			document.getElementById('tr_waktu_mulai').style.display='';
			document.getElementById('tr_waktu_selesai').style.display='';
			document.getElementById('tr_output').style.display='';
		}
		
	}
</script>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="list_kegiatan" / --></h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" id="filterboxpopup">
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>
      <tr>              
         <th width="30%"><!-- patTemplate:gtfwgetconfig config="language" name="kegiatan" / --></th>
         <td><input type="text" name="subprogram" value="{SUBPROGRAM}" size="30" /></td>
      </tr>
	 <tr>
		<th><!-- patTemplate:gtfwgetconfig config="language" name="jenis" / --></th>
		<td>
			<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jenis"  / -->
		</td>
	 </tr>
	 <tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>
<br />
   
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   </div>
   <br />
   <table class="table-common" width="100%">
      <tr>
         <th width="5"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="kode" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="kegiatan" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="jenis" / --></th>
         <th width="31"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data_subprogram" type="condition" conditionvar="SUBPROGRAM_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="5" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_subprogram_item" -->
            <tr class="{SUBPROGRAM_CLASS_NAME}">
               <td align="center">{SUBPROGRAM_NUMBER}</td>
               <td>{SUBPROGRAM_KODE}</td>
               <td>{SUBPROGRAM_NAMA}</td>
               <td>{SUBPROGRAM_JENIS}</td>
               <!-- <td class="links" align="center">
					<a href="javascript:void(0)" onclick="javascript:setParent('{SUBPROGRAM_ENC_SUBPROGRAM_ID}','{SUBPROGRAM_ENC_SUBPROGRAM_NAMA}')"><img alt="Pilih" src="images/button-check.gif"/></a>
               </td> -->
			   <td class="links" align="center">
					<a href="javascript:void(0)" onclick="javascript:setParent('{SUBPROGRAM_ID}','{SUBPROGRAM_NAMA}', '{SUBPROGRAM_JENIS}')"><img alt="Pilih" src="images/button-check.gif"/></a>
               </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
<div>
<!-- /patTemplate:tmpl -->