<!-- patTemplate:tmpl name="content" -->
<form method="POST" action="{URL_SEARCH}" id="filterboxpopup" name="filterboxpopup" class="dataquest xhr_simple_form dest_popup-subcontent">
   <table>
      <tr class="subhead">
         <th colspan="2">
            <h2>
               <strong>
                  <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
               </strong>
            </h2>
         </th>
      </tr>
      
      <tr>
         <th style="width: 135px;">
            Tanggal Pembayaran
         </th>
         <td>
			 <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="referensi_tanggal" / -->
         </td>
      </tr>
      <tr>
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnSearch" value="Tampilkan &raquo;" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />

<input 
  type="button" 
  value="Pilih Semua" 
  class="buttonSubmit"
  onclick="pilihSemuaData();" 
/>

<div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
</div>
<!-- start: Table List -->
<table class="table-common" width="100%">
   <thead>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="no" / -->
         </th>
		 <th>
            Akun COA
         </th>
         <th>
            Nama COA
         </th>
		 <th>
            Bulan
         </th>
         <th>
            Bayar (Rp)
         </th>
         <th style="width: 20px;">
            Aksi
         </th>
      </tr>
   </thead>
   <tbody>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
            <tr>
               <td colspan="6">
                  <center>
                     <em>
                        <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->
                     </em>
                  </center>
               </td>
            </tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_list" -->
               <tr class="{CLASS_NAME}">
                  <td align="center">
                     {NOMOR}
                  </td>
				  <td>
                     {AKUN_COA}
                  </td>
                  <td>
                     {NAMA_COA}
                  </td>
				  <td>
                     {BULAN} {TAHUN}
                  </td>
                  <td align="right">
                     {REAL_BAYAR}
                  </td>
                  <td class="links">
                     <a href="javascript:void(0);" onclick="setData({ID});update_COA_list('{ID}','{TRANS_TT_ID}');" title="Pilih">
                        <img src="images/icons/16/button-check.gif" alt="Pilih" />
                     </a>
                  </td>
               </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </tbody>
</table>
<!-- end: Table List -->

<script type="text/javascript">
var isPilihSemua = false;

var dataTransaksi    = {TRANSAKSI_DATA};
var form             = document.forms['frmInput'];
var setData          = function(id){
   var data          = dataTransaksi[id];
   if(form){
      var formElements  = form.elements;
      var inReferensiId    = formElements.referensi_id;
      var inIsInstitute    = formElements.is_institute;
      var inReferensiNama  = formElements.referensi_nama;
      var inNominal        = formElements.nominal;
      var inKeterangan     = formElements.keterangan;

      inReferensiId.value  = data.id;
      inReferensiNama.value   = data.nomor_referensi;
      inNominal.gvSetValue(parseFloat(data.nominal));
      inKeterangan.value      = data.keterangan;
      inIsInstitute.value      = data.is_institute;
   }
    
  //popupClose();
}



 
   document.update_COA_list = function (id,tipe_id)
   {
      //alert(id);
      document.getElementById('button-coa-debet').style.display = 'block';
      document.getElementById('trans_tt_id').value = tipe_id;
	  if (!isPilihSemua) {
      document.getElementById('CoaPlaceHolder_debet').deleteAllItem();
      document.getElementById('CoaPlaceHolder_kredit').deleteAllItem();
      }
      //if( tipe_id == 2){
      //    document.getElementById('button-coa-debet').style.display = 'block';
      //} else {      
     
        var data = {COA_DATA};
        if(data[id]) {
            var dataToMount   = data[id];
            if(dataToMount.length > 0){
               for (var i in dataToMount){
                    if(dataToMount[i]['coa_is_debet_positif'] == 1) {   
                        document.getElementById('CoaPlaceHolder_debet').addItem(
                           dataToMount[i]['coa_id'],            
                           dataToMount[i]['coa_kode'],
                           dataToMount[i]['coa_nama'],
                           '',
                           '',
                           '',
                           dataToMount[i]['nominal'],
                           1 // artinya untuk menandai bahwa coa berasal dari transaksi referensi
                        );
                    } else {
                        document.getElementById('CoaPlaceHolder_kredit').addItem(
                           dataToMount[i]['coa_id'],            
                           dataToMount[i]['coa_kode'],
                           dataToMount[i]['coa_nama'],
                           '',
                           '',
                           '',
                           dataToMount[i]['nominal'],
                           1 // artinya untuk menandai bahwa coa berasal dari transaksi referensi
                        );                        
                    }
               }
            }
        }
           //document.getElementById('button-coa-debet').style.display = 'none';
      //}
	  if (!isPilihSemua) {
      //popupClose();
	  }
   }

function pilihSemuaData() {
	isPilihSemua = true;
	var totalNominal = 0;

	 // kosongkan SEKALI
    document.getElementById('CoaPlaceHolder_debet').deleteAllItem();
    document.getElementById('CoaPlaceHolder_kredit').deleteAllItem();
    // ambil semua ID transaksi dari dataTransaksi
    for (var id in dataTransaksi) {
        if (dataTransaksi.hasOwnProperty(id)) {

            // isi data utama (referensi, nominal, dll)
            //setData(id); 
			totalNominal += parseFloat(dataTransaksi[id].nominal) || 0;
            
			// update COA Debet / Kredit
            document.update_COA_list(
				id,
				dataTransaksi[id].trans_tt_id
			);
        }
    }
	
	form.elements.nominal.gvSetValue(totalNominal);
	 
	isPilihSemua = false;
    // tutup popup setelah semua masuk
    popupClose();
}


</script>

<!-- /patTemplate:tmpl -->