<!-- patTemplate:tmpl name="content" -->
<script type='text/javascript'>
function setParent(id,nama)
{
   var form = document.forms['frmInput'];
   form.unit_id.value = id;
   form.unit_nama_ro.value= nama;   
   form.unit_nama_hidden.value= nama;      
   popupClose();
}


</script>
<form name="frmInput" method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" id="filterboxpopup"">
  <input type="hidden" name="data[parent_id]" value="{SEARCH_PARENT_ID}" size="40" />
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>	  	  
      <tr>
         <th width="20%"><!-- patTemplate:gtfwgetconfig config="language" name="nama_unit" / --> / <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / --></th>
         <td><input type="text" name="data[nama]" value="{SEARCH_NAMA}" size="40" /></td>
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Cari Unit &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>

<div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
</div>

<table class="table-common" width="100%">
   <tr>
      <th width="10"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
      <th><!-- patTemplate:gtfwgetconfig config="language" name="kode" / --></th>
	  <th><!-- patTemplate:gtfwgetconfig config="language" name="nama" / --></th>
      <th width="70"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
   </tr>
   <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="IS_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="4" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}">
               <td align="center">{DATA_NO}</td>
			   <td>{DATA_UNITKERJA_KODE}</td>
               <td>{DATA_UNITKERJA_NAMA}</td>
               <td align="center" class="links">
                  <a href="#" onclick="javascript:setParent('{DATA_UNITKERJA_ID}','{DATA_UNITKERJA_NAMA}')" onmouseover="status='Set preferences...';return true" ><img src="images/button-check.gif" alt="Pilih"/><!-- patTemplate:gtfwgetconfig config="language" name="pilih" / --></a>
               </td>
            </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
<div class="pageBar">
</div>

<!-- /patTemplate:tmpl -->
