<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	function setParent(xid, xlabel, nominal, nominal_hidden, peng_real_id) {
		document.getElementById('mak').value=xid;
		document.getElementById('mak_label').value=xlabel;
		document.getElementById('nominal_disetujui').value=nominal;
		document.getElementById('nominal_disetujui_hidden').value=nominal_hidden;
		document.getElementById('peng_real_id').value=peng_real_id;
		popupClose();
	}
</script>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="list_sub_kegiatan" / --></h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" id="filterboxpopup">
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>
      <tr>              
         <th width="30%"><!-- patTemplate:gtfwgetconfig config="language" name="sub_kegiatan" / --></th>
         <td><input type="text" name="kegiatan_detil" value="{KEGIATAN_DETIL}" size="30" /></td>
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" <!-- patTemplate:gtfwgetconfig config="language" name="tampilkan" / --> &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>
<br />
   
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   </div>
   <br />
   <table class="table-common" width="100%">
      <tr>
         <th width="5"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="kode_unit_kerja" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="unit_kerja" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="kode" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="sub_kegiatan" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="nominal_disetujui_rp" / --></th>
         <th width="31"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data_kegiatan_detil" type="condition" conditionvar="KEGIATAN_DETIL_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="7" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_kegiatan_detil_item" -->
            <tr class="{KEGIATAN_DETIL_CLASS_NAME}">
               <td align="center">{KEGIATAN_DETIL_NUMBER}</td>
               <td>{KEGIATAN_DETIL_UNIT_KERJA_KODE}</td>
               <td>{KEGIATAN_DETIL_UNIT_KERJA_NAMA}</td>
               <td>{KEGIATAN_DETIL_KODE}</td>
               <td>{KEGIATAN_DETIL_NAMA}</td>
               <td>{KEGIATAN_DETIL_NOMINAL_APROVE}</td>
			   <td class="links" align="center">
					<a href="javascript:void(0)" onclick="javascript:setParent('{KEGIATAN_DETIL_ID}','{KEGIATAN_DETIL_NAMA}','{KEGIATAN_DETIL_NOMINAL_APROVE}','{KEGIATAN_DETIL_NOMINAL_APROVE_HIDDEN}','{KEGIATAN_DETIL_PENG_REAL_ID}')"><img alt="Pilih" src="images/button-check.gif"/></a>
               </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
<div>
<!-- /patTemplate:tmpl -->