<!-- patTemplate:tmpl name="content" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="all" href="css/css-custome/print-bukti-bkk-bkm.css" />
<title><!-- patTemplate:gtfwgetconfig config="language" name="bukti_kas_masuk" / --></title>
</head>

<body id="common" onload="window.print()">
	<div class="page">
		<div class="header-title">
			<!-- patTemplate:gtfwgetconfig config="organization" name="company_name" / --><br />
			BUKTI KAS MASUK
		</div>
		<div class="header">
		<table width="100%"class="table-print-header">			
			<tr>				
				<td width="58%"></td>
				<td width="5%"></td>
				<td width="11%">No Bukti</td>
				<td width="1%">:</td>
				<td width="25%" class="garis">{NO_BUKTI}</td>
			</tr>
			<tr>
				<td>Dibayarkan Kepada :</td>
				<td></td>
				<td>Tanggal</td>
				<td>:</td>
				<td class="garis">{TANGGAL}</td>
			</tr>
			<tr>
				<td class="garis"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>	
		</div>
		<div class="body">
		<table class="table-print-body" width="100%">
			<tr>
				<th width="5%">No</th>
				<th width="40%">Uraian</th>
				<th width="30%">Jumlah</th>
				<th width="25%">Keterangan</th>
			</tr>
			<tr>
				<td></td>
				<td>{URAIAN}</td>
				<td align="right"><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {NOMINAL}</td>
				<td>{CATATAN}</td>
			</tr>
			
			<tr>
				<td></td>
				<td>Total</td>
				<td align="right"><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {NOMINAL}</td>
				<td></td>
			</tr>						
			
		</table>
		</div>
		<div class="body-footer">
			<table width="100%" class="table-print-body-footer">
				<tr>
					<td>Terbilang : {NOMINAL_TERBILANG}</td>
				</tr>	
			</table>
		</div>
		
		<div class="footer">
			<table width="100%">
				<tr>
					<td width="33%" align="center">Diketahui Oleh,</td>
					<td width="34%" align="center">Diterima,</td>
					<td width="33%" align="center">Diserahkan Oleh,</td>
				</tr>	
				<tr height="50">
					<td></td>
					<td></td>
					<td></td>
				</tr>	
				<tr align="center">
					<td>{BIRO}</td>
					<td>{PENERIMA}</td>
					<td>{PR}</td>
				</tr>	
				<tr align="center">
					<td>Kepala</td>
					<td>Pemegang Kas</td>
					<td>Puket II</td>
				</tr>	
			</table>
		</div>

    	
	</div>
 </body>
 </html>  
<!-- /patTemplate:tmpl -->