<!-- patTemplate:tmpl name="content" -->
<!--<div class="a4-landscape"><br><br>-->
<b><table align="center">
  <tr>
    <td width="15%"><!-- patTemplate:gtfwgetconfig config="language" name="ta" / --></td><td>: {TAHUN_ANGGARAN}</td>
  </tr>
  <tr>
    <td><!-- patTemplate:gtfwgetconfig config="language" name="no_bukti" / --></td><td>: {NOMOR_BUKTI}</td>

  </tr>
  <tr>
    <td><!-- patTemplate:gtfwgetconfig config="language" name="mak" / --></td><td>: {MAK}</td>
  </tr>
</table>
</b>
<br>
<h1 align="center"><u>{JUDUL}</u></h2>
<br />
<table width="100%" style="border: 1px">

  <tr>
    <td width="5%" style="border: 0px"></td>
    <td width="22%" style="border: 0px"><!-- patTemplate:gtfwgetconfig config="language" name="sudah_terima_dari" / --></td><td width="1" style="border: 0px">:</td><td style="border: 0px">{TERIMA_DARI}</td>
  </tr>
  <tr>
    <td style="border: 0px"></td>
    <td style="border: 0px"><!-- patTemplate:gtfwgetconfig config="language" name="jumlah_uang" / --></td><td style="border: 0px">:</td><td style="border: 0px">{NILAI_LABEL}</td>

  </tr>
  <tr>
    <td style="border: 0px"></td>
    <td style="border: 0px"><!-- patTemplate:gtfwgetconfig config="language" name="terbilang" / --></td><td style="border: 0px">:</td><td style="border: 0px">{NILAI_TERBILANG}</td>
  </tr>
  <tr>
    <td style="border: 0px"></td>

    <td style="border: 0px">Untuk pembayaran</td><td style="border: 0px">:</td><td style="border: 0px">{UNTUK_PEMBAYARAN}</td>
  </tr>
  <tr><td colspan="4" style="border: 0px">&nbsp;</td></tr>  
  <tr><td colspan="4" style="border: 0px">&nbsp;</td></tr>  
  <tr><td colspan="4" style="border: 0px">&nbsp;</td></tr>  
</table>
<table width="100%">
  <tr>
    <td style="border: 0px"></td>

    <td width="20%" style="border: 0px"><!-- patTemplate:gtfwgetconfig config="organization" name="city" / -->, {TGL_PEMBAYARAN}</td><td width="10%" style="border: 0px"></td>
  </tr>
  <tr>
    <td style="border: 0px"></td>
    <td width="20%" style="border: 0px">{PEMBUAT_KWITANSI}</td><td width="10%" style="border: 0px"></td>
  </tr>
  <tr><td colspan="3" style="border: 0px">&nbsp;</td></tr>  
  <tr><td colspan="3" style="border: 0px">&nbsp;</td></tr>  
  <tr>

    <td style="border: 0px"></td>
    <td width="20%" style="border: 0px"></td><td width="10%" style="border: 0px"></td>
  </tr>
</table>
<br><br>
<table width="100%" align="center" border="0">
  <tr><td width="20%" style="border: 0px"></td><td style="border: 0px"></td><td width="20%" style="border: 0px"><!-- patTemplate:gtfwgetconfig config="language" name="lunas_bayar" / -->, </td>
  <td width="10%" style="border: 0px"></td></tr>
  <tr><td width="20%" style="border: 0px"></td><td style="border: 0px"></td><td width="20%" style="border: 0px"></td><td width="10%" style="border: 0px"></td></tr>
  <tr><td colspan="4" style="border: 0px">&nbsp;</td></tr>
  <tr><td colspan="4" style="border: 0px">&nbsp;</td></tr>

  <tr><td width="20%" style="border: 0px"></td><td style="border: 0px"></td><td width="20%" style="border: 0px"></td><td width="10%" style="border: 0px"></td></tr>
</table>
<br>
<table width="100%">
  <tr><td width="10%" style="border: 0px"></td><td style="border: 0px"><!-- patTemplate:gtfwgetconfig config="language" name="info_barang_diterima" / --></td></tr>
  <tr><td width="20%" style="border: 0px"></td><td style="border: 0px"><!-- patTemplate:gtfwgetconfig config="language" name="kasubag" / --></td></tr>
  <tr><td colspan="2" style="border: 0px">&nbsp;</td></tr>
  <tr><td colspan="2" style="border: 0px">&nbsp;</td></tr>
  <tr><td width="20%" style="border: 0px"></td><tdstyle="border: 0px"></td></tr>

</table>  
<!--</div>-->
<!-- /patTemplate:tmpl -->
