<!-- patTemplate:tmpl name="document" -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
      <link rel="stylesheet" type="text/css" href="css/sia-mocca-kuitansi-loader.css" title="Mocca"/>      
      <title><!-- patTemplate:gtfwgetconfig config="organization" name="application_name" / -->Cetak</title>
   </head>
   <body onload="window.print()">
      <div class="kuitansi">
       	<div class="kuitansi-content">         
         <!-- patTemplate:link src="body" / -->
         </div>   
      </div>   
   </body>
</html>
<!-- /patTemplate:tmpl -->
