<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
   var xpopup;
   function bukaPopupCetak(xurl) {
      xpopup = window.open(xurl,'xpopup','width=900,height=600,resizable=yes,scrollbars=yes,right=0;center');
      xpopup.focus();
   }
   function bukaPopupUnitKerja(xurl) {
		showPopup(xurl,'UNIT KERJA',550, 550);
	}
	
	function resetFormIni() {
		GtfwAjax.replaceContentWithUrl("subcontent-element","{URL_RESET}&ascomponent=1");
		/*
		if(document.getElementById('unitkerja')) document.getElementById('unitkerja').value='';
		if(document.getElementById('unitkerja_label')) document.getElementById('unitkerja_label').innerHTML='';
		if(document.getElementById('program')) document.getElementById('program').value='';
		if(document.getElementById('program_label')) document.getElementById('program_label').innerHTML='';
		*/
		
	}
</script>
	<h1>
	<!-- patTemplate:gtfwgetconfig config="language" name="lap_pengadaan_rup" / -->
	</h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>

 		<tr>
            <th width="150"><!-- patTemplate:gtfwgetconfig config="language" name="tahun_periode" / --></th>
            <td>
				<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tahun_anggaran"  / -->
			</td>
         </tr>
         
		 <tr>
			 <th><!-- patTemplate:gtfwgetconfig config="language" name="unit" / -->/ <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / --></th>
			 <td>
			 	<input type="hidden" name="unitkerja" id="unitkerja" value="{UNITKERJA}" />
			 	<!-- patTemplate:tmpl name="cek_unitkerja_parent" 
				 	type="condition" conditionvar="IS_PARENT" -->
   					<!-- patTemplate:sub condition="YES" --> 
				 <textarea name="unitkerja_label" id="unitkerja_label" readonly="readonly" 
				 cols="40" rows="1">{UNITKERJA_LABEL}</textarea>
				 <input type="button"  name="but_program" 
				 onclick="javascript:bukaPopupUnitKerja('{URL_POPUP_UNITKERJA}')" value=" ... " />
				 	<!-- /patTemplate:sub -->
				 	
				 	<!-- patTemplate:sub condition="NO" --> 
				 	<label><b>{UNITKERJA_LABEL}</b></label>
				 	<input type="hidden" name="unitkerja_label" 
				 		id="unitkerja_label" value="{UNITKERJA_LABEL}" />
				 	<!-- /patTemplate:sub -->
				 <!-- /patTemplate:tmpl -->
			 </td>			 
		  </tr>	

      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
            <input type="reset" name="btnReset" value=" Reset " class="buttonSubmit" onclick="resetFormIni();" />
         </td>
      </tr>
   </table>
</form>


   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->
   <br />
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      <div class="toolbar">
         <a href="javascript:void(0)" onclick="bukaPopupCetak('{URL_CETAK}')" title="Cetak" ><img src="images/button-print.gif" alt="Cetak"> <!-- patTemplate:gtfwgetconfig config="language" name="cetak" / --></a>
         <a href="{URL_EXCEL}" title="Export Excel" ><img src="images/button-simpan.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="excel" / --></a>
		 <!-- a href="{URL_RTF}" title="Export Rtf" ><img src="images/button-simpan.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="rtf" / --></a -->
      </div>
   </div>
	

   <table class="table-common" width="100%">
   <tr>
        <th><!-- patTemplate:gtfwgetconfig config="language" name="kode" / --></th>
        <th>
			<!-- patTemplate:gtfwgetconfig config="language" name="kegiatan" / --> / 
			<!-- patTemplate:gtfwgetconfig config="language" name="sub_kegiatan" / --> / 
			<!-- patTemplate:gtfwgetconfig config="language" name="mak" / -->
        
        </th>
        <th><!-- patTemplate:gtfwgetconfig config="language" name="volume" / --></th>
        <th><!-- patTemplate:gtfwgetconfig config="language" name="total" / --></th>
        <th><!-- patTemplate:gtfwgetconfig config="language" name="sumber_dana" / --></th>
    </tr>
   

    <!-- patTemplate:tmpl name="list_data" type="condition" conditionvar="IS_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="12" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
				<!-- patTemplate:tmpl name="list_data_item" -->
   
				<tr class="{CLASS_NAME}" style="{FONT_STYLE}">
			    <td align="right">{KODE}</td>
				<td align="left">{NAMA}</td>
				<td align="right">{VOLUME}</td>
				<td align="right">{NOMINAL_TOTAL}</td>
				<td >{SUMBER_DANA_NAMA}</td>
				</tr>
         
			<!-- /patTemplate:tmpl -->
			<tr class="{CLASS_NAME}">
				
				<td align="center" colspan="2"><strong>TOTAL</strong></td>
				<td align="right"><strong></strong></td>
				<td align="right"><strong>{TOTAL_NOMINAL}</strong></td>
				<td align="right"><strong></strong></td>
				</tr>
		<!-- /patTemplate:sub -->
     <!-- /patTemplate:tmpl -->
    </table> 
<!-- /patTemplate:tmpl -->
