<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript" src="js/cookie.js"></script>
<script language="javascript" type="text/javascript">
   //getButton('hapus', 'http://ddd','test()')
   function getButton(xjenis, xhref, xonclick) {
      var xlink = document.createElement('a');
      var gbr = document.createElement('img');
      if(xjenis == 'hapus' || xjenis == 'delete') {
         xlink.setAttribute("title", "Hapus");
         gbr.setAttribute("src", "images/button-delete.gif");
         gbr.setAttribute("alt", "Hapus");
      } else {
         //edit
         xlink.setAttribute("title", "Edit");
         gbr.setAttribute("src", "images/button-edit.gif");
         gbr.setAttribute("alt", "Edit");
      }
      xlink.setAttribute("class", "xhr dest_subcontent-element");
      xlink.setAttribute("href", xhref);
      xlink.setAttribute("onclick", xonclick);
      xlink.appendChild(gbr);
      return xlink;
   }
   
   function tambahInvoice() {
      
      //membuat isi elemen2
      var isi;
      var isi_container;
      //membuat input hidden
      var input_hidden;

      var button_hapus;
      var baris;
      
      var tbodi = document.getElementById("tbody_invoice_list");
      var obj = document.getElementById('no_invoice');

      input_hidden = document.createElement('input');
      input_hidden.type = 'hidden';
      input_hidden.name = 'no_invoice_list[]';
      input_hidden.value = obj.value;

      isi = document.createTextNode(obj.value);
      isi_container = document.createElement('div');
      isi_container.appendChild(isi);
      isi_container.appendChild(input_hidden);
      
      button_hapus = getButton("hapus", "javascript:void(0)", "hapusInvoice(this)");

      baris = buatBaris('invoice_list', '', isi_container, button_hapus);
      tbodi.appendChild(baris);
      if(document.getElementById('invoice_empty'))
         document.getElementById('invoice_empty').style.display='none';
      obj.value='';
   }
   
   function hapusInvoice(obj) {
      document.getElementById("tbody_invoice_list").removeChild(obj.parentNode.parentNode);
   }

   function hapusInvoiceEdit(obj, xid) {
      var tr = obj.parentNode.parentNode;
      tr.setAttribute('style', 'display:none');
      //membuat input hidden untuk dihapus
      var input_hidden;
      input_hidden = document.createElement('input');
      input_hidden.type = 'hidden';
      input_hidden.name = 'no_invoice_list_delete[]';
      input_hidden.value = xid;
      obj.parentNode.appendChild(input_hidden);
   }
   
   function hapusSkenarioBohong(xid) {
      var elem = document.getElementById(xid);
      elem.parentNode.removeChild(elem);
   }
   
   function bukaPopupSkenario(xurl) {
      xpopup=window.open(xurl,'xpopup','width=600,height=500,resizable=yes,scrollbars=yes,right=0;center');
      xpopup.focus();
   }
   
   function cek(objId, msg) {
      var obj = document.getElementById(objId);
      if(!obj.value) {
         alert(msg);
         obj.focus();
         obj.select;
         return false;
      }
      return true;
   }
   
   function ceknominal(objId1, objId2, msg) {
      var obj1 = document.getElementById(objId1);
      var obj2 = document.getElementById(objId2);
      if(obj1.value > obj2.value) {
         alert(msg);
         obj1.focus();
         obj1.select;
         return false;
      }
      return true;
   }

   function cekIsiForm() {
      //if(false == cek('unitkerja', 'Silakan isi Unit/ Sub Unit')) return;
      if(false == cek('jenis_transaksi', 'Silakan isi Jenis Transaksi')) return;
      if(false == cek('tipe_transaksi', 'Silakan isi Tipe Transaksi')) return;
      //if(false == cek('no_invoice_list', 'Silakan isi Invoice')) return;    
      if(false == cek('nominal', 'Silakan Pilih Data aset untuk mengisi nominal')) return;
      //if(false == cek('skenario', 'Silakan Pilih Skenario yang digunakan')) return;
      var jenis = document.getElementById('jenis_transaksi');
      //var mak = document.getElementById('mak');
      var txt_jenis = jenis.options[jenis.selectedIndex].text;
      if(txt_jenis != "Beban ATK") {
         if(false == cek('mak', 'Silakan Pilih Mata Anggaran')) return;
         //if(false == ceknominal('nominal','nominal_disetujui_hidden', 'Nominal tidak boleh melebihi nominal yang disetujui.')) return;   
      }
      if(false == cek('no_kkb', 'Silakan isi Nomor BKK')) return;
      if(false == cek('penanggung_jawab', 'Silakan isi Penanggung Jawab')) return;
      //document.frmInput.submit();
      document.getElementById('simpan').click();
   }
</script>
<h1>Input Transaksi Pengendalian Aset</h1>
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->
   <br />
   <div class="toolbar">
      <a class="xhr dest_subcontent-element" href="{URL_DETIL_TRANSAKSI}" title="Lihat Detail Transaksi Pengendalian"><img src="images/button-add.gif" alt="">Detail Transaksi Pengendalian</a>
   </div>
   <br />
   <form method="POST" action="{URL_ACTION}" name="frmInput" class="xhr_form std_form" id="frmInput">
   <table class="table-edit" width="100%">
      <tr class="subhead">
         <th colspan="3">Input Transaksi Pengadaan</th>
      </tr>
      <tr>
         <th>Jenis Transaksi</th>
         <td>Pengendalian</td>
      </tr>
      <tr>
         <th>Tipe Transaksi</th>
         <td>
            {TIPE_TRANSAKSI}
            <input type="hidden" name="tipe_transaksi" id="tipe_transaksi" value="{ID_TIPE_TRANSAKSI}" />
         </td>
      </tr>
      <tr>              
         <th>Tanggal Transaksi</th>
         <td><!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tanggal_transaksi" / --></td>
      </tr>
      <tr>              
         <th>Due Date</th>
         <td><!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="due_date" / --></td>
      </tr>
      <tr>              
         <th>{NO_BUKTI}</th>
         <td><input type="text" name="no_kkb" id="no_kkb" value="{NO_KKB}" />*</td>
      </tr>
      <tr>              
         <th>No. Invoice</th>
         <td><input type="text" name="no_invoice" id="no_invoice" value="{NO_INVOICE}" /><input type="button" value="Simpan" name="no_invoice_simpan" id="no_invoice_simpan" onclick="tambahInvoice()" /></td>
      </tr>
      <tr>
      <td colspan="2" style="padding-left:50px">
         <table class="table-edit" width="500" id="table_invoice_list">
            <tr class="subhead">
               
               <th>Invoice</th>
               <th width="33">Aksi</th>
            </tr>
            <tbody id="tbody_invoice_list">
               <!-- patTemplate:tmpl name="tpl_invoice_list" type="condition" conditionvar="INVOICE_LIST_EMPTY" -->
                  <!-- patTemplate:sub condition="YES" -->
                  <tr id="invoice_empty"><td colspan="3" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
                  <!-- /patTemplate:sub -->
                  <!-- patTemplate:sub condition="NO" -->
                  <!-- patTemplate:tmpl name="tpl_invoice_item" -->
                  <tr class="{DATA_CLASS_NAME}">
                     <td>
                        {DATA_NOMOR}
                        <input type="hidden" name="no_invoice_list_edit" value="{DATA_NOMOR}" />
                     </td>
                     <td>
                        <a href="javascript:void(0)" onclick="hapusInvoiceEdit(this, '{DATA_ID_DELETE}')" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
                     </td>
                  </tr>
                  <!-- /patTemplate:tmpl -->
                  <!-- /patTemplate:sub -->
               <!-- /patTemplate:tmpl -->
            </tbody>
            <tr>
               <td></td>
               <td></td>
               <td></td>
            </tr>
         </table>
      </td>
      </tr>
      <tr>
         <th width="150" style='padding-left: 40px'>Unit Barang</th>
         <td>{UNITKERJA}</td>
      </tr>
      <tr>
         <th width="150" style='padding-left: 40px'>Lokasi Barang</th>
         <td>{RUANG}</td>
      </tr>
   </table>
   <br />
   <table class="table-common" width="100%">
      <tr>
         <th width="5">No</th>
         <th>Kode Barang</th>
         <th>Nama Barang</th>
         <th>Status Pengendalian</th>
         <th>Perkiraan Biaya (Rp)</th>
         <th width="222">Biaya (Rp)</th>
      </tr>
      <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="4" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}">
               <td align="center">{NOMOR}</td>
               <td align="center">{BRG_KODE}</td>
               <td>{BRG_NAMA}</td>
               <td>{STATUS_PENG_BRG}</td>
               <td align="right">{HARGA_PERKIRAAN}</td>
               <td align="right">Rp. <input type="text" name="jml[]" id="jml[]" value="" /></td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
   <br /> 
   <table class="table-edit" width="100%">
      <tr>
         <th width="150" style='padding-left: 40px'>Tanggal Pengendalian</th>
         <td>{TGL}</td>
      </tr>
      <tr>
         <th width="150" style='padding-left: 40px'>BA Pengendalian</th>
         <td>{BA}</td>
      </tr>
      <tr>
         <th width="150" style='padding-left: 40px'>PIC</th>
         <td>{PIC}</td>
      </tr>
      <tr>
         <th width="150" style='padding-left: 40px'>Keterangan Tambahan</th>
         <td>{KETERANGAN}</td>
      </tr>
      <tr>              
         <th>Uraian Transaksi</th>
         <td><textarea name="catatan_transaksi" cols="50" rows="5">{CATATAN_TRANSAKSI}</textarea></td>
      </tr>
      <tr>              
         <th>Penanggung Jawab</th>
         <td><input type="text" name="penanggung_jawab" id="penanggung_jawab" value="{PENANGGUNG_JAWAB}" size="40" />*</td>
      </tr>
      <tr>              
         <th>Skenario auto jurnal</th>
         <td><input type="text" id="skenario_label" name="skenario_label" value="{SKENARIO_LABEL}" readonly="readonly" /><input type="hidden" name="skenario" value="{SKENARIO}" id="skenario" /><input type="button" onclick="bukaPopupSkenario('{URL_POPUP_SKENARIO}')" value=" ... " name="" />*</td>
      </tr>
      <tr>
         <td colspan="2" style="padding-left:50px">
            <table class="table-edit" id="skenario_bohong_table" width="500" style="display:none">
               <tr class="subhead">
                  <th>Skenario Auto Jurnal</th>
                  <th width="33">Aksi</th>
               </tr>
               <tbody id="skenario_bohong_tbody">
                  <!-- <tr><td colspan="3" align="center"><em>-- Data tidak ditemukan --</em></td></tr> -->
               </tbody>
            </table>
         </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;
         </th>
         <td colspan="2">
            <input type="submit" name="btnsimpan" value=" Simpan " class="buttonSubmit"/>
            <input type="submit" name="btnbalik" value=" Batal " class="buttonSubmit"/>
         </td>
      </tr>
   </table>
   </form>
   <br />
   <div class="toolbar">
      <a class="xhr dest_subcontent-element" href="{URL_DETIL_TRANSAKSI}" title="Lihat Detail Transaksi Pengendalian"><img src="images/button-add.gif" alt="">Detail Transaksi Pengendalian</a>
   </div>
<!-- /patTemplate:tmpl -->
