<!-- patTemplate:tmpl name="content" -->
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" id="filterboxpopup">
   <table>
      <tr>
         <th colspan="2">
            <h2>
               <strong>
                  <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
               </strong>
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 95px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <td>
            <input type="text" name="kode" value="{KODE}" size="30" />
         </td>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <td>
            <input type="text" name="nama" value="{NAMA}" size="30" />
         </td>
      </tr>
         <tr>
            <th>
               <!-- patTemplate:gtfwgetconfig config="language" name="tipe_unit" / -->
            </th>
            <td>
               <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tipeunit"  / -->
            </td>
         </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
            <input type="reset" name="btnReset" value=" Reset " class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>

<br />

<div class="pageBar">
<!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
</div>
<br />
<table class="table-common" width="100%">
   <thead>
      <tr>
         <th width="5">
            <!-- patTemplate:gtfwgetconfig config="language" name="no" / -->
         </th>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="tipe" / -->
         </th>
         <th style="width: 20px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="pilih" / -->
         </th>
      </tr>
   </thead>
   <tbody>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
            <tr>
               <td colspan="6" align="center">
                  <em>
                     --<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--
                  </em>
               </td>
            </tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_list" -->
               <tr class="{CLASS_NAME}" style="{ROW_STYLE}">
                  <td align="center">
                     {NUMBER}
                  </td>
                  <td align="right">
                     {KODE}
                  </td>
                  <td>
                     {NAMA}
                  </td>
                  <td>
                     {TIPE_NAMA}
                  </td>
                  <td class="links" align="center">
                     <a href="javascript:void(0);" onclick="javascript:setData('{ID}');" >
                        <img alt="Pilih" src="images/icons/16/button-check.gif" />
                     </a>
                  </td>
               </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </tbody>
</table>

<script type="text/javascript">
var DATA_UNIT     = {UNIT_DATA};
var formSearch    = document.forms['filterbox'];
var setData       = function(id){
   var data       = DATA_UNIT[id];

   if(formSearch && typeof(formSearch) != 'undefined'){
      var elements   = formSearch.elements;
      var elUnitId   = elements.unit_id;
      var elUnitNama = elements.unit_nama;

      elUnitId.value    = data.id;
      elUnitNama.value  = data.nama;
   }

   popupClose();
}
</script>
<!-- /patTemplate:tmpl -->