<!-- patTemplate:tmpl name="content" -->
<style>
.pageBar .buttonSubmit {
	border: 1px solid #9CD1F9;
	background-image: url('../images/dataquest_button_bg.gif') !important;
	background-repeat: repeat-x;
	background-color: #E6F7FF;
	margin: 0px 1px 0px 0px;
	padding: 2px 2px 2px 2px;
	font-family: Tahoma, Arial, sans-serif; 
	font-size: 8pt;
	font-weight: bold;
	color: #001D47;
}
.pageBar select {
	font-family: Tahoma, Arial, sans-serif; 
	font-size: 8pt;
	border: 1px solid #CCEBFD;
	padding: 2px 2px;
	float :left;
	margin: 0px 2px 0px 0px;
}


</style>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="coa" / --> </h1>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<!-- /patTemplate:tmpl -->
<br>
<div class="pageBar">
   <div class="pageNav">
      <form method="POST" name="frm_coa" action="{URL_SEARCH}" class="xhr_simple_form dest_subcontent-element" id="filterbox">
         <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="unit_kerja"  / --> 
         <input type="submit" name="btncari" value=" Filter &raquo;" class="buttonSubmit"/>
      </form>
   </div>
   <div class="toolbar">
     <a href="{URL_EXCEL}" title="Export Excel" ><img src="images/button-tindaklanjuti.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="excel" / --> </a>
      <a class="xhr dest_subcontent-element" href="{URL_RESET}" title="Reset Coa Kode Sistem" tabindex="2" style="display:{URL_RESET_DISPLAY}"> Reset COA Kode Sistem</a>
      <a class="xhr dest_subcontent-element " href="{URL_ADD}" title="Tambah Chart Of Account" tabindex="2">
      <img src="images/button-add.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="tambah" / --> </a>
      <a class="xhr dest_subcontent-element" href="{URL_CARI}" title="Cari Chart Of Account" tabindex="2"><!-- patTemplate:gtfwgetconfig config="language" name="cari" / --> </a>
   </div>
</div>

<!-- patTemplate:tmpl name="coa_detail" visibility="hidden" -->
<table class="table-details">
	<tr>
		<th width="150"><!-- patTemplate:gtfwgetconfig config="language" name="kode_rekening" / --> </th>
		<td><b>{KODE_AKUN}</b></td>
	</tr>
	<tr>
		<th width="150"><!-- patTemplate:gtfwgetconfig config="language" name="nama_rekening" / --> </th>
		<td><b>{NAMA_AKUN}<b></td>
	</tr>
	<tr>
		<td></td>
		<td class="buttons">
				<a class="xhr dest_subcontent-element" style="float: left" title="ubah Cahrt Of Account {NAMA_AKUN}"  href="{URL_UBAH}" tabindex="3">Ubah</a>
		</td>

	</tr>
</table>
<br />
<!-- /patTemplate:tmpl -->

<h2><!-- patTemplate:gtfwgetconfig config="language" name="bagan_perkiraan_akutansi" / --> </h2>

   <!-- patTemplate:tmpl name="coa" type="condition" conditionvar="COA" -->
      <!-- patTemplate:sub condition="YES" -->
      <em>-- <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / --> --</em>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="coa_tree" -->
			<div id='div_coa' name='div_coa' style="width:800px"></div>
         {COA_TREE_STR}
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->

<script>
var nodeList = document.getElementsBySelector('.dTreeNode a');
if(nodeList != undefined){
   for (var i = 0; i < nodeList.length; i++){
      if (nodeList[i].className)
      {
         nodeList[i].onclick1 = nodeList[i].onclick;
         xhr_content['.xhr'](nodeList[i]);
         nodeList[i].onclick2 = nodeList[i].onclick;
         nodeList[i].onclick = function (e)
         {
            if (this.className.indexOf('nodeSel') >= 0) return false;
            this.onclick1();
            $(this).addClass('dest_subcontent-element');
            return this.onclick2();
         }
      }
      else continue;
   }
}
</script>
<!-- /patTemplate:tmpl -->
