<!-- patTemplate:tmpl name="content" -->
<h1><!-- patTemplate:gtfwgetconfig config="language" name="manajemen_program" / --></h1>
<br />
<form method="POST" name="frmSearch" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
<input type="hidden" name="flag[renstra]" id="flag_renstra" />
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>
	  <tr>
            <th width="30%"><!-- patTemplate:gtfwgetconfig config="language" name="tahun" / --></th>
            <td>
			  <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="data[program][ta_id]"  / -->
            </td>
      </tr>
	  <tr>
         <th width="20%"><!-- patTemplate:gtfwgetconfig config="language" name="kode_progrsm" / --></th>
         <td width="25"><input type="text" name="data[program][kode]" value="{SEARCH_PROGRAM_KODE}" size="30" /></td>
      </tr>
      <tr>
         <th width="20%"><!-- patTemplate:gtfwgetconfig config="language" name="program" / --></th>
         <td width="25"><input type="text" name="data[program][nama]" value="{SEARCH_PROGRAM_NAMA}" size="60" /></td>
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>

         </td>
      </tr>
   </table>
</form>

<br />

   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->

   <br />

   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      <div class="toolbar">
   		<a class="xhr dest_subcontent-element" href="{URL_ADD}" title="Tambah Data Program" tabindex="2"><img src="images/button-add.gif" alt="">
   		<!-- patTemplate:gtfwgetconfig config="language" name="tambah" / --></a>
      </div>
   </div>
   <table class="table-common" width="100%">
      <tr>
         <th width="5"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="nama" / --></th>
         <th width="62"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="IS_DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="4" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}">
               <td align="center">{DATA_NO}</td>
			   <td align="center">{DATA_PROGRAM_NOMOR}</td>
               <td>{DATA_PROGRAM_NAMA}</td>
               <td class="links" align="center">
                  <a class="xhr dest_subcontent-element" href="{DATA_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>
                  <a class="xhr dest_subcontent-element" href="{DATA_URL_DELETE}" ><img src="images/button-delete.gif" alt="Hapus" /></a>
               </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
   <br />

   <div class="petunjuk-area">
      <h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / --></h4>
      <ul>
         <li>Untuk tampilan Kode Program, Kegiatan maupun sub Kegiatan terdiri dari 4 digit, Untuk Program terdiri dari 2 digit paling kiri. 4 digit sisanya dikanan dikasih 4 digit 0. untuk kegiatan 2 digit kiri diambil dari Program induknya dan 2 ditengah dari kode kegiatan itu sendiri dan 2 digit dibelakang dikasih 2 digit 0.</li>
      </ul>
   </div>

<!-- /patTemplate:tmpl -->
