<!-- patTemplate:tmpl name="content" -->
<h1><!-- patTemplate:gtfwgetconfig config="language" name="ip" / --></h1>
<br/>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="notebox-alert">
    {ISI_PESAN}
</div>
<br/>
<!-- /patTemplate:tmpl -->
<form method="POST" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" name="frmInput">
	<input type="hidden" name="dataId" value="{IP_ID}"  />
	
<table class="table-edit" width="100%">
    <tr class="subhead">
	   <th colspan="2">{JUDUL} <!-- patTemplate:gtfwgetconfig config="language" name="ip" / --></th>
    </tr>
    <tr>
	   <th width="150">
	   <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
	   </th>
	   <td>
       <input type="hidden" name="kode_lama" value="{KODE_LAMA}"/>
	   <input type="text" name="kode" value="{KODE}" size="10"/>&nbsp;*
	</td>
    </tr>
    <tr>
	   <th width="150">
	       <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
	   </th>
	   <td>
	       <input type="text" name="nama" value="{NAMA}" size="40"/>&nbsp;*
	   </td>
    </tr>
    
    <tr class="buttons">
	   <th>&nbsp;</th>
	   <td>
	       	<input type="submit" name="btnsimpan" value=" Simpan " class="buttonSubmit"/>
            <input  type="submit"  name="btnbalik" value=" Batal " class="buttonSubmit"/>
	   </td>
    </tr>
</table>

<div id="calc" style="margin:20px; margin-bottom:50px; position:absolute; z-index:999999">
&nbsp;
</div>
</form>
   
<div class="petunjuk-area" id="petunjuk">
<h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / --></h4>
<ul>
<li><!-- patTemplate:gtfwgetconfig config="language" name="info_wajib_diisi" / --></li>
</ul>
</div>
<!-- /patTemplate:tmpl -->
