<!-- patTemplate:tmpl name="content" -->

<script language="javascript" type="text/javascript">	
   anime = new janime;
   anime.element = 'month-list';
   anime.speed = 50;
   anime.minHeight = 0;
   anime.maxHeight = 370;
	function showhidemonth(valueName){
		if(valueName == 'show'){
			document.getElementById('btn-show-hide').value = 'hide';
			anime.slideOpen();
		}else{
			document.getElementById('btn-show-hide').value = 'show';
			anime.slideClose();
		}
	}
</script>
<h1>Approval Rencana Penerimaan</h1>
<br/>

   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="notebox-alert">
      {ISI_PESAN}
   </div>
   <br/>
   <!-- /patTemplate:tmpl -->
	
		<input type="hidden" name="dataId" value="{DATAID}"  />
		<input type="hidden" name="page" value="{PAGE}"  />
			<table class="table-details" width="100%">
				<tr class="subhead">
					<th colspan="2">{JUDUL} Rencana Penerimaan</th>
				</tr>
				<tr>
					<th width="150"><!-- patTemplate:gtfwgetconfig config="language" name="tahun_anggaran" / --></th>
					<td>{TAHUN_ANGGARAN_LABEL}</td>
				</tr>
				<tr>
					<th><!-- patTemplate:gtfwgetconfig config="language" name="unit" / -->/ <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / --></th>
					<td>{UNITKERJA_LABEL}</td>
				</tr>
				<tr>
					<th><!-- patTemplate:gtfwgetconfig config="language" name="kode_penerimaan" / --></th>
					<td>{KODEPENERIMAAN_LABEL}</td>
				</tr>
				<tr>
					<th><!-- patTemplate:gtfwgetconfig config="language" name="nama_penerimaan" / --></th>
					<td>{NAMAPENERIMAAN_LABEL}</td>
				</tr>
				<tr>
					<th><!-- patTemplate:gtfwgetconfig config="language" name="volume" / --></th>
					<td>{VOLUME}</td>
				</tr>
				<tr>
					<th><!-- patTemplate:gtfwgetconfig config="language" name="nama_satuan" / --></th>
					<td>{SATUAN}</td>
				</tr>
				<tr>
					<th>Tarif Per Mahasiswa (Rp.)</th>
					<td>{TARIF}</td>
				</tr>
				<tr>
					<th>Volume x Tarif (<!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->.)</th>
					<td>{TOTALTERIMA}</td>
				</tr>
				<tr>
					<th>% Pagu</th>
					<td>{PAGU}</td>
				</tr>
				<tr>
					<th>Jumlah Pagu (<!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->.)</th>
					<td>{TOTALPAGU}</td>
				</tr>
				<tr>
					<th>Catatan/Keterangan</th>
					<td>{KETERANGAN}</td>
				</tr>
				 <tr>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="sumber_dana" / --></th>
			<td>
            <input type="hidden" name="sumber_dana" id="sumber_dana" value="{SUMBER_DANA}" />
            {SUMBER_DANA_LABEL}
         </td>
			
		 </tr>
		 <tr>
					<th><!-- patTemplate:gtfwgetconfig config="language" name="status_approval" / --></th>
					<td>{STATUS_APPROVAL_LABEL}</td>
				</tr>
			
				<tr>
					<th><!-- patTemplate:gtfwgetconfig config="language" name="total_penerimaan" / --> (<!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->.)</th>
					<td>{TOTALPENERIMAAN}</td>
				</tr>
				
		<tr>
		 	<th><!-- patTemplate:gtfwgetconfig config="language" name="note" / --></th>
			<td>
            	{NOTE}
         	</td>
		 </tr>		
				
				<tr>
					<th style="padding-left:25px;" colspan="2"><b><!-- patTemplate:gtfwgetconfig config="language" name="rencana_penerimaan_perbulan" / --> </b> <input type="button" value="show" onclick="showhidemonth(this.value)" id="btn-show-hide" style="display:none;" /></th>
				</tr>
				<tr>
					<td colspan='2'>
						<div id='month-list' style='height:370px;overflow:hidden;'>
							<table style='width:100%;height:370px;' id="month-table">
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="januari" / --></th>
									<td >{PJANUARI}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {JANUARI}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="februari" / --></th>
									<td >{PFEBRUARI}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {FEBRUARI}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="maret" / --></th>
									<td >{PMARET}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {MARET}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="april" / --></th>
									<td >{PAPRIL}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {APRIL}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="mei" / --></th>
									<td >{PMEI}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {MEI}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="juni" / --></th>
									<td >{PJUNI}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {JUNI}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="juli" / --></th>
									<td >{PJULI}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {JULI}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="agustus" / --></th>
									<td >{PAGUSTUS}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {AGUSTUS}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="september" / --></th>
									<td >{PSEPTEMBER}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {SEPTEMBER}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="oktober" / --></th>
									<td >{POKTOBER}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {OKTOBER}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="november" / --></th>
									<td >{PNOVEMBER}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {NOVEMBER}</td>
								</tr>
								<tr>
									<th style="padding-left:50px;"><!-- patTemplate:gtfwgetconfig config="language" name="desember" / --></th>
									<td >{PDESEMBER}</td>
									<td><!-- patTemplate:gtfwgetconfig config="language" name="rp" / -->. {DESEMBER}</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				
				
			</table>

   <br/>
<script>
	document.getElementById('month-list').style.height = 0;
	document.getElementById('btn-show-hide').style.display = '';
</script>
<!-- /patTemplate:tmpl -->
