<!-- patTemplate:tmpl name="content" -->
<h1>
   Laporan Harian BANK
</h1>
<br />
<form method="POST" action="{URL_SEARCH}" id="filterbox" name="filterbox" class="dataquest xhr_simple_form dest_subcontent-element">
   <table>
      <tr class="subhead">
         <th colspan="2">
            <h2>
               <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 130px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="periode" / -->
         </th>
         <td>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="start_date"  / -->
            </div>
            <div>
               <!-- patTemplate:gtfwgetconfig config="language" name="s_d" / -->
            </div>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="end_date"  / -->
            </div>
         </td>
      </tr>
      <tr>
         <th style="width: 130px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="nama_bank" / -->
         </th> 
         <td>
            <input type="text" name="nama_bank" id="nama_bank" size="35" value="{NAMA_BANK}" />
         </td>
      </tr>
      <tr>
         <th style="width: 130px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="no_bukti" / -->
         </th>
         <td>
            <input type="text" name="nomor_bukti" id="nomor_bukti" size="35" value="{NOMOR_BUKTI}" />
         </td>
      </tr>
      <tr>
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnSearch" value="Tampilkan &raquo;" class="buttonSubmit" />
            <input type="reset" name="btnReset" value="Reset" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   <div class="toolbar">
      <a href="{URL_EXPORT}" title="<!-- patTemplate:gtfwgetconfig config="language" name="export_excel" / -->" target="_blank">
         <img src="images/icons/16/export_excel.gif" alt="">
         <!-- patTemplate:gtfwgetconfig config="language" name="excel" / -->
      </a>
   </div>
</div>
<!-- start: Table List -->
<table class="table-common" width="100%">
   <thead>
      <tr>
         <th rowspan="2" style="width: 95px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
         </th>
         <th rowspan="2" style="width: 135px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="no_bukti" / -->
         </th>
         <th rowspan="2">
            <!-- patTemplate:gtfwgetconfig config="language" name="uraian" / -->
         </th>
         <th rowspan="2">
            <!-- patTemplate:gtfwgetconfig config="language" name="status_jurnal" / -->
         </th>
         <th colspan="2">
            <!-- patTemplate:gtfwgetconfig config="language" name="nominal_rp" / -->
         </th>
      </tr>
      <tr>
         <th style="width: 115px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="debet" / -->
         </th>
         <th style="width: 115px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kredit" / -->
         </th>
      </tr>
   </thead>
   <tbody>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
            <tr>
               <td colspan="6">
                  <center>
                     <em>
                        <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->
                     </em>
                  </center>
               </td>
            </tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_list" -->
               <tr class="{DATA_CLASS_NAME}">
                  <td align="right">
                     <!-- patTemplate:var name="TANGGAL" modifier="gtfwindonesiandate" format="short" separator="/" / -->
                  </td>
                  <td align="center">
                     {BANK_BPKB}
                  </td>
                  <td>
                     {URAIAN}
                  </td>
                     <td style="text-align:center; padding-top: 6px;">
                        <!-- patTemplate:tmpl name="status_jurnal" type="condition" conditionvar="STATUS" -->
                           <!-- patTemplate:sub condition="Y" -->
                              <img src="images/lamp-green.gif" />
                           <!-- /patTemplate:sub -->
                           <!-- patTemplate:sub condition="T" -->
                              <img src="images/lamp-yellow.gif" />
                           <!-- /patTemplate:sub -->
                           <!-- patTemplate:sub condition="CR" -->
                              <img src="images/lamp-violet.gif" />
                           <!-- /patTemplate:sub -->
                        <!-- /patTemplate:tmpl -->
                     </td>
                  <td style="text-align: right;">
                     {DEBET}
                  </td>
                  <td style="text-align: right;">
                     {KREDIT}
                  </td>
               </tr>
            <!-- /patTemplate:tmpl -->
            <tr>
               <th colspan="4">
                  Mutasi
               </th>
               <td align="right">
                  {MUTASI_DEBET}
               </td>
               <td align="right">
                  {MUTASI_KREDIT}
               </td>
            </tr>
            <tr>
               <th colspan="4">
                  Saldo Akhir
               </th>
               <td align="right">
                  {SALDO_AKHIR}
               </td>
               <td align="right">
                  -
               </td>
            </tr>
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </tbody>
</table>
<div class="petunjuk-area">
   <h4>
      <!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / -->
   </h4>
   
   <ul>
      <li>
         <img src="images/lamp-green.gif" style="margin-bottom: -4px;"/> Menandakan transaksi sudah dijurnalkan
      </li>
      <li>
         <img src="images/lamp-yellow.gif" style="margin-bottom: -4px;"/> Menandakan transaksi belum dijurnalkan
      </li>
      <li>
         <img src="images/lamp-violet.gif" style="margin-bottom: -4px;"/> Menandakan BP hanya berupa bukti cetak
      </li>
      <li>
         <!-- patTemplate:gtfwgetconfig config="language" name="klik" / --> <img src="images/icons/16/export_excel.gif" style="margin-bottom: -4px;"/> Untuk melakukan export excel 
      </li>
   </ul>
</div>
<!-- end: Table List -->
<!-- /patTemplate:tmpl -->