<!-- patTemplate:tmpl name="content" -->
<h1>Mapping Data Jenis Pembayaran dengan COA</h1>
<br />
<form method="POST" name="frmKegiatan" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">

   <table >
      <tr>
         <th colspan="2"><h2><strong>Pencarian</strong></h2></th>
      </tr>	           
		 <tr>
            <th width="150">Kode Pembayaran</th>
            <td><input type="text" name="kode" value="{SEARCH_KP_KODE}" size="30" /></td>
         </tr>  
         <tr>
            <th>Nama Pembayaran</th>
            <td><input type="text" name="nama" value="{SEARCH_KP_NAMA}" size="30" /></td>
         </tr>
		<tr>
            <th>Program Studi</th>
            <td>
				 <!-- patTemplate:gtfwrendermodule module="combobox" submodule="Combobox" action="view" name="prodi"  / -->
			</td>
         </tr>
		<tr>
            <th>Akun COA</th>
            <td>
				<!-- patTemplate:gtfwrendermodule module="combobox" submodule="Combobox" action="view" name="coa"  / -->
			</td>
         </tr>		 
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" <!-- patTemplate:gtfwgetconfig config="language" name="tampilkan" / --> &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>

<br />
   
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->

   <br />
   <form method="post" action="{URL_DELETE}" class="xhr_simple_form dest_subcontent-element" id="form_list">
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      <div class="toolbar"> 
		<!--a href="{URL_EXCEL}" title="Export Semua Data ke Excel" target="_blank">
            <img src="images/icons/export_excel.gif" alt="">
            excel
        </a-->
   		<a class="xhr dest_subcontent-element" href="{URL_ADD}" title="Tambah Data" tabindex="2"><img src="images/button-add.gif" alt=""> Tambah</a>	
      </div>
   </div>
   <table class="table-common" width="100%">
      <tr>
         <th style="width: 4%;">No</th>	 
         <th style="width: 5%;">Kode Pembayaran</th>
         <th style="width: 22%;">Nama Pembayaran</th>
         <th style="width: 25%;">Program Studi</th>
		 <th style="width: 10%;">COA</th>         
		 <th style="width: 26%;">Nama COA</th>
         <th style="width: 5%;">Aksi</th>
      </tr>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="IS_DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="7" align="center"><em>-- tidak ada data --</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}" style="font-weight:{DATA_STYLE}">
               <td align="center">{DATA_NOMOR}</td>			   
		       <td>{DATA_KODE}</td>
               <td>{DATA_NAMA}</td>
               <td>{DATA_PRODI}</td>
               <td>{DATA_COA_KODE}</td>
               <td>{DATA_COA_NAMA}</td>
               <td class="links" align="center">
                  {DATA_URL_EDIT}
				  {DATA_URL_DELETE}
               </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
	  
	 
   </table>
   </form>
   <br /> 
   
<!-- /patTemplate:tmpl -->
