<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	function setParent2(xid, xkode, xlabel) {
		document.getElementById('prodi_id').value=xid;
		document.getElementById('prodi_kode').value=xkode;
		document.getElementById('prodi_nama').value=xlabel;
		popupClose();
	}
</script>

<h1>Daftar Program Studi</h1>

<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" name="popup-filterbox">

   <table >
      <tr>
         <th colspan="2"><h2><strong>Pencarian</strong></h2></th>
      </tr>
         <tr>
            <th>Nama Prodi</th>
            <td><input type="text" name="nama" value="{NAMA}" size="30" />
         </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>

<br />

   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   </div>
   <table class="table-common" width="100%">
      <tr>
         <th width="5">No</th>
         <th>Kode Prodi</th>
         <th>Nama Prodi</th>
         <th width="65">Aksi</th>
      </tr>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="4" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}">
               <td align="center">{DATA_NUMBER}</td>
               <td>{DATA_KODE}</td>
               <td>{DATA_NAMA}</td>
               <td class="links" align="center">
               <a href="javascript:void(0)" onclick="javascript:setParent2('{DATA_ID}','{DATA_KODE}','{DATA_LINK}')"><img alt="Pilih" src="images/button-check.gif"/></a>
			   </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
   </form>
   <br />
<!-- /patTemplate:tmpl -->
