<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
function bukaPopupCetak(xurl) {
   var width  = 940;
   var height = 600;
   var left   = (screen.width  - width)/2;
   var top    = (screen.height - height)/2;
   var params = 'width='+width+', height='+height;
   params += ', top='+top+', left='+left;
   params += ', directories=no';
   params += ', location=no';
   params += ', menubar=no';
   params += ', resizable=no';
   params += ', scrollbars=yes';
   params += ', status=no';
   params += ', toolbar=no';
   newwin = window.open(xurl,'Cetak', params);
   if (window.focus) {
      newwin.focus();
   }

   return false;
}
</script>
<style type="text/css">
   .table-common tbody tr.rkat td{
      border-bottom-color: #f9d54b !important;
   }
   label.rkakl{
      display: block;
      width: 100%;
      border-top: #f9d54b 1px solid;
      margin: 4px 0px;
      padding-top: 4px;
   }
</style>
<h1>
   <!-- patTemplate:gtfwgetconfig config="language" name="rencana_pencairan_dana" / -->
</h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2">
            <h2>
               <strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong>
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 115px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="tahun_periode" / -->
         </th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tahun_anggaran"  / -->
         </td>
      </tr>
      <!-- patTemplate:tmpl name="data_unit" type="condition" conditionvar="STATUS" -->
         <!-- patTemplate:sub condition="PARENT" -->
            <tr>
               <th>
                  <!-- patTemplate:gtfwgetconfig config="language" name="unit" / -->/
                  <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / -->
               </th>
               <td>
                  <input type="hidden" name="unit_id" id="txt_unit_id" value="{UNIT_ID}" />
                  <input type="text" name="unit_nama" id="txt_unit" value="{UNIT_NAMA}" readonly size="35" />
                  <input type="button" value=" ... " onclick="showPopup('{URL_POPUP_UNIT}', 'GTPopup', 600, 550);" />
               </td>
            </tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="CHILD" -->
            <tr>
               <th>
                  <!-- patTemplate:gtfwgetconfig config="language" name="unit" / -->/
                  <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / -->
               </th>
               <td>
                  <input type="hidden" name="unit_id" id="txt_unit_id" value="{UNIT_ID}" />
                  <input type="hidden" name="unit_nama" id="txt_unit" value="{UNIT_NAMA}" />
                  <label style="font-weight: bold;">
                     {UNIT_NAMA}
                  </label>
               </td>
            </tr>
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btnSearch" value=" Tampilkan &raquo;" class="buttonSubmit"/>
            <input type="reset" name="btnReset" value=" Reset " class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   <div class="toolbar">
      <div class="toolbar">
         <a href="javascript:void(0)" onclick="bukaPopupCetak('{URL_CETAK}')" title="Cetak" >
            <img src="images/button-print.gif" alt="Cetak"> <!-- patTemplate:gtfwgetconfig config="language" name="cetak" / -->
         </a>
         <a href="{URL_EXCEL}" title="Export Excel" target="_blank">
            <img src="images/icons/export_excel.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="excel" / -->
         </a>
      </div>
   </div>
</div>
<table class="table-common" width="100%">
   <thead>
      <tr>
         <th width="5px" rowspan="2">
            <!-- patTemplate:gtfwgetconfig config="language" name="no" / -->
         </th>
         <th colspan="2" width="350px">
            <!-- patTemplate:gtfwgetconfig config="language"  name="label_rincian"  / -->
         </th>
         <th rowspan="2" >
            <!-- patTemplate:gtfwgetconfig config="language" name="unit" / --> / <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / -->
         </th>
         <th rowspan="2" width="50px">
            <!-- patTemplate:gtfwgetconfig config="language" name="volume" / -->
         </th>
         <th rowspan="2" width="75px">
            <!-- patTemplate:gtfwgetconfig config="language" name="alokasi_pagu_rp" / -->
         </th>
         <th colspan="12">
            <!-- patTemplate:gtfwgetconfig config="language" name="rencana_penarikan_bulan" / -->
         </th>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <th style="width: 400px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="januari" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="februari" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="maret" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="april" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="mei" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="juni" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="juli" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="agustus" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="september" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="oktober" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="november" / -->
         </th>
         <th width="100px">
            <!-- patTemplate:gtfwgetconfig config="language" name="desember" / -->
         </th>
      </tr>
   </thead>
   <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
         <tr>
            <td colspan="18" align="center">
               <em>-- <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong"  / --> --</em>
            </td>
         </tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_list" -->
            <tr class="{CLASS_NAME}" style="{ROW_STYLE}">
               <td align="center">{NOMOR}</td>
               <td align="right">{KODE}</td>
               <td>
                  {NAMA}
                  <!-- patTemplate:tmpl name="rkakl" type="condition" conditionvar="JENIS" -->
                     <!-- patTemplate:sub condition="KEGIATAN" -->
                        <label class="rkakl">
                           [{RKAKL_NAMA}]
                        </label>
                     <!-- /patTemplate:sub -->
                     <!-- patTemplate:sub condition="OUTPUT" -->
                        <label class="rkakl">
                           [{RKAKL_NAMA}]
                        </label>
                     <!-- /patTemplate:sub -->
                     <!-- patTemplate:sub condition="SUB_KEGIATAN" -->
                        <label class="rkakl">
                           [{RKAKL_NAMA}]
                        </label>
                     <!-- /patTemplate:sub -->
                  <!-- /patTemplate:tmpl -->
               </td>
               <td>{UNIT_NAMA}</td>
               <td>{VOLUME}</td>
               <td style="text-align:right;">{NOMINAL_TOTAL}</td>
               <td style="text-align:right;">{NOMINAL_JANUARI}</td>
               <td style="text-align:right;">{NOMINAL_FEBRUARI}</td>
               <td style="text-align:right;">{NOMINAL_MARET}</td>
               <td style="text-align:right;">{NOMINAL_APRIL}</td>
               <td style="text-align:right;">{NOMINAL_MEI}</td>
               <td style="text-align:right;">{NOMINAL_JUNI}</td>
               <td style="text-align:right;">{NOMINAL_JULI}</td>
               <td style="text-align:right;">{NOMINAL_AGUSTUS}</td>
               <td style="text-align:right;">{NOMINAL_SEPTEMBER}</td>
               <td style="text-align:right;">{NOMINAL_OKTOBER}</td>
               <td style="text-align:right;">{NOMINAL_NOVEMBER}</td>
               <td style="text-align:right;">{NOMINAL_DESEMBER}</td>
            </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
<br />

<div class="petunjuk-area">
   <h4>
      <!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / -->
   </h4>
   <div style="margin:10px 0px 0px 10px;font-weight:bold;color:#965F11;text-transform: uppercase" >
      <div style="padding:0px; margin:1px 5px 0px 0px; width:10px; height:10px; background-color:#FFFBDD; border:#D1C698 1px solid; float: left;">    </div> = <!-- patTemplate:gtfwgetconfig config="language" name="program" / -->
   </div>
   <div style="margin:10px 0px 0px 10px;font-weight:bold;color:#965F11">
      <div style="padding:0px; margin:1px 5px 0px 0px; width:10px; height:10px; background-color:#FFFBDD; border:#D1C698 1px solid; float: left;">    </div> = <!-- patTemplate:gtfwgetconfig config="language" name="kegiatan" / -->
   </div>
   <div style="margin:10px 0px 0px 10px;font-style:italic;color:#965F11">
      <div style="padding:0px; margin:1px 5px 0px 0px; width:10px; height:10px; background-color:#FFFDEF; border:#D1C698 1px solid; float: left;">    </div> = <!-- patTemplate:gtfwgetconfig config="language" name="sub_kegiatan" / -->
   </div>
   <div style="margin:10px 0px 0px 10px;">
      <div style="padding:0px; margin:1px 5px 0px 0px; width:10px; height:10px; background-color:#FFFFFF; border:#D1C698 1px solid; float: left;">    </div> = <!-- patTemplate:gtfwgetconfig config="language" name="rincian_belanja" / -->
   </div>
   <div style="margin:10px 0px 0px 10px;">
      [ ] = <!-- patTemplate:gtfwgetconfig config="language" name="nama_rkakl" / -->
   </div>
</div>
<!-- /patTemplate:tmpl -->