<!-- patTemplate:tmpl name="content" -->
<h2>
   Detail <!-- patTemplate:gtfwgetconfig config="language" name="approval_pencairan" / -->
</h2>
<br />
<table class="table-details" style="width: 100%">
   <tr class="subhead">
      <th colspan="2">
         Data <!-- patTemplate:gtfwgetconfig config="language" name="rencana_realisasi_pencairan" / -->
      </th>
   </tr>
   <tr>
      <th style="width: 115px;">
         <!-- patTemplate:gtfwgetconfig config="language" name="periode_tahun" / -->
      </th>
      <td>
         {TA_NAMA}
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="unit_kerja" / -->
      </th>
      <td>
         {UNIT_NAMA}
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="program" / -->
      </th>
      <td>
         {PROGRAM_KODE} &mdash; {PROGRAM_NAMA}
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="kegiatan" / -->
      </th>
      <td>
         {KEGIATAN_KODE} &mdash; {KEGIATAN_NAMA}
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="sub_kegiatan" / -->
      </th>
      <td>
         {SUB_KEGIATAN_KODE} &mdash; {SUB_KEGIATAN_NAMA}
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
      </th>
      <td>
         <!-- patTemplate:var name="tanggal" modifier="gtfwindonesiandate" format="long" separator=" " / -->
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="nomor_pengajuan" / -->
      </th>
      <td>
         {NOMOR_PENGAJUAN}
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="nominal_usulan" / -->
      </th>
      <td>
         <!-- patTemplate:gtfwgetconfig config="language" name="rp" / --> {NOMINAL}
      </td>
   </tr>
   <tr>
      <th>
         <!-- patTemplate:gtfwgetconfig config="language" name="nominal_setuju" / -->
      </th>
      <td>
         <!-- patTemplate:gtfwgetconfig config="language" name="rp" / --> {NOMINAL_SETUJU}
      </td>
   </tr>
   <tr class="subhead">
      <th colspan="2">
         Data <!-- patTemplate:gtfwgetconfig config="language" name="komponen" / -->
      </th>
   </tr>
   <tr>
      <td colspan="2" style="padding: 0px;">
         <table class="table-common" style="width: 100%;">
            <thead>
               <tr>
                  <th colspan="2" style="text-align: center; vertical-align: middle; font-weight: bold;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="komponen" / -->
                  </th>
                  <th rowspan="2" style="text-align: center; vertical-align: middle; font-weight: bold; width: 115px;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="kode_coa" / -->
                  </th>
                  <th rowspan="2" style="text-align: center; vertical-align: middle; font-weight: bold; width: 115px;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="deskripsi" / -->
                  </th>                  
                  <th colspan="2" style="text-align: center; vertical-align: middle; font-weight: bold;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="nominal" / -->
                  </th>
               </tr>
               <tr>
                  <th style="text-align: center; vertical-align: middle; font-weight: bold; width: 95px;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
                  </th>
                  <th style="text-align: center; vertical-align: middle; font-weight: bold;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
                  </th>
                  <th style="width: 95px; text-align: center; vertical-align: middle; font-weight: bold;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="nominal_usulan_rp" / -->
                  </th>
                  <th style="width: 95px; text-align: center; vertical-align: middle; font-weight: bold;">
                     <!-- patTemplate:gtfwgetconfig config="language" name="nominal_setuju_rp" / -->
                  </th>
               </tr>
            </thead>
            <tbody>
               <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
                  <!-- patTemplate:sub condition="YES" -->
                     <tr>
                        <td colspan="5" align="center" style="font-style: italic;">
                           <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->
                        </td>
                     </tr>
                  <!-- /patTemplate:sub -->
                  <!-- patTemplate:sub condition="NO" -->
                     <!-- patTemplate:tmpl name="data_list" -->
                        <tr>
                           <td align="center">
                              {KOMPONEN_KODE}
                           </td>
                           <td>
                              {KOMPONEN_NAMA}
                           </td>
                           <td align="center">
                              {MAK_KODE}
                           </td>
                           <td align="center">
                              {DESKRIPSI}
                           </td>
                           <td align="right">
                              {NOMINAL_BUDGET}
                           </td>
                           <td align="right">
                              {NOMINAL_APPROVE}
                           </td>
                        </tr>
                     <!-- /patTemplate:tmpl -->
                  <!-- /patTemplate:sub -->
               <!-- /patTemplate:tmpl -->
            </tbody>
         </table>
      </td>
   </tr>
</table>
<!-- /patTemplate:tmpl -->