<!-- patTemplate:tmpl name="content" -->
   <br />
	<h1><!-- patTemplate:gtfwgetconfig config="language" name="laporan_transaksi" / --></h1>
	<table class="empty-table">
   <!--<tr>
      <td style="width:90px;">
	      <!-- patTemplate:gtfwgetconfig config="language" name="tahun_periode" / --> 
      </td>
      <td>
         : {TAHUN_ANGGARAN}
      </td>
   </tr>-->
   <tr>
      <td>
	      <!-- patTemplate:gtfwgetconfig config="language" name="interval_waktu" / -->
      </td>
      <td>
         : {TGL_AWAL} <!-- patTemplate:gtfwgetconfig config="language" name="s_d" / --> {TGL_AKHIR}
      </td>
   </tr>
   </table>
   <table width="80%">
   <thead>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="referensi" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="catatan" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="nilai_rp" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="tipe" / --></th>
      </tr>
   </thead>
   <tbody>
      <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="5" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_lap_transaksi_item" -->
            <tr {CLASS_TD_NAME}>
               <td align="center">{NOMOR}</td>
			   	<td>{TRANSAKSI_TANGGAL}</td>
               <td>{TRANSAKSI_REFERENSI}</td>
               <td>{TRANSAKSI_CATATAN}</td>
               <td style="text-align:right;">{TRANSAKSI_NILAI}</td>
               <td>{TRANSAKSI_TIPE}</td>
            </tr>
            <!-- /patTemplate:tmpl -->
            <tr {CLASS_TD_NAME}>
               <td align="center" colspan="4"><strong>TOTAL</strong></td>
               <td style="text-align:right;"><strong>{TOTAL_TRANSAKSI_NILAI}</strong></td>
               <td></td>
            </tr>
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </tbody>
   </table>

   <!--<div class="sign">
      <p>Yogyakarta, {DATE}</p>
      <p>Pimpinan Unit / Sub Unit</p>
      <p class="date">{UNIT_KERJA}</p>
      <p>({NAMA_PIMPINAN})</p>
   </div>-->
<!-- /patTemplate:tmpl -->
