<!-- patTemplate:tmpl name="content" -->
   <br />
   <h1><!-- patTemplate:gtfwgetconfig config="language" name="laporan_cetak_aktivitas" / --></h1>
   <table class="empty-table">
   <tr>
      <td align="left" width="100">
         <!-- patTemplate:gtfwgetconfig config="language" name="interval_waktu" / -->
      </td>
      <td align="left">
         : {TGL_AWAL} s/d {TGL_AKHIR}
      </td>
   </tr>
   </table>
   <br />
<h1><!-- patTemplate:gtfwgetconfig config="language" name="pendapatan" / --></h1>
	<br />
   <table class="table-common" width="600px">
        <!-- patTemplate:tmpl name="pendapatan" -->

      <tr>
         <th align="left">{KELJNSNAMA}</th>
         <th width="130"><!-- patTemplate:gtfwgetconfig config="language" name="jumlah_rp" / --></th>
      </tr>
         <!-- patTemplate:tmpl name="pendapatan_item" -->
         <tr class="{LAP_CLASS_NAME}">
            <td>{NAMA_KEL_LAP}</td>
            <td align="right">{NILAI}</td>
         </tr>
         <!-- /patTemplate:tmpl -->

         <tr class="{LAP_CLASS_NAME}">
            <td><strong style="font-style:italic">Total {KELJNSNAMA}</strong></td>
            <td align="right"><strong>{TOTAL_NILAI}</strong></td>
         </tr>
    <!-- /patTemplate:tmpl -->
         <tr class="{LAP_CLASS_NAME}">
            <td width="65%"><strong><!-- patTemplate:gtfwgetconfig config="language" name="total_pendapatan" / --></strong></td>
            <td align="right" style="width:130"><strong>{TOTAL_PENDAPATAN}</strong></td>
         </tr>
    </table>
        <br>
    
   <h1><!-- patTemplate:gtfwgetconfig config="language" name="beban" / --></h1>
   <table class="table-common" width="600px">
<!-- patTemplate:tmpl name="beban" -->   
      <tr>
         <th align="left">{KELJNSNAMA}</th>
         <th width="130"><!-- patTemplate:gtfwgetconfig config="language" name="jumlah_rp" / --></th>
      </tr>
         <!-- patTemplate:tmpl name="beban_item" -->
         <tr class="{LAP_CLASS_NAME}">
            <td>{NAMA_KEL_LAP}</td>
            <td align="right">{NILAI}</td>
         </tr>
         <!-- /patTemplate:tmpl -->

         <tr class="{LAP_CLASS_NAME}">
            <td><strong style="font-style:italic">Total {KELJNSNAMA}</strong></td>
            <td align="right"><strong>{TOTAL_NILAI}</strong></td>
         </tr>

    <!-- /patTemplate:tmpl -->
         <tr class="{LAP_CLASS_NAME}">
            <td width="65%"><strong><!-- patTemplate:gtfwgetconfig config="language" name="total_beban" / --></strong></td>
            <td align="right" style="width:130"><strong>{TOTAL_BEBAN}</strong></td>
         </tr>
    </table>
    
    <table class="table-common" width="600px">
         <tr class="{LAP_CLASS_NAME}">
            <td width="65%"><strong><!-- patTemplate:gtfwgetconfig config="language" name="kenaikan_aktiva_bersih" / --></strong></td>
            <td align="right" style="width:130"><strong>{JUMLAH_AKTIVA_BERSIH}</strong></td>
         </tr>
    </table>
<!-- /patTemplate:tmpl -->
