<!-- patTemplate:tmpl name="content" -->
<h1>
   <!-- patTemplate:gtfwgetconfig config="language" name="list_sub_unit_kerja" / -->
</h1>
<br />
<form method="POST" action="{URL_SEARCH}" id="filterboxpopup" name="filterboxpopup" class="dataquest xhr_simple_form dest_popup-subcontent">
   <table>
      <tr class="subhead">
         <th colspan="2">
            <h2>
               <strong>
                  <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
               </strong>
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 115px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <td>
            <input type="text" name="kode" id="txt_popup_kode" size="35" value="{KODE}" />
         </td>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <td>
            <input type="text" name="nama" id="txt_popup_nama" size="35" value="{NAMA}" />
         </td>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="tipe_unit" / -->
         </th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="Combobox" action="view" name="type_unit"  / -->
         </td>
      </tr>
      <tr>
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnSearch" value="Tampilkan &raquo;" class="buttonSubmit" />
            <input type="reset" name="brnReset" value="Reset" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
</div>
<!-- start: Table List -->
<table class="table-common" width="100%">
   <thead>
      <tr>
         <th style="width: 30px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="no" / -->
         </th>
         <th style="width: 65px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="tipe_unit" / -->
         </th>
         <th style="width: 30px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="aksi" / -->
         </th>
      </tr>
   </thead>
   <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
         <tr>
            <td colspan="5">
               <center>
                  <em>
                     <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->
                  </em>
               </center>
            </td>
         </tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_list" -->
            <tr class="{CLASS_NAME}" style="{ROW_STYLE}">
               <td style="text-align: center;">
                  {NOMOR}
               </td>
               <td style="text-align: right;">
                  {KODE}
               </td>
               <td>
                  {NAMA}
               </td>
               <td>
                  {TIPE_NAMA}
               </td>
               <td class="links">
                  <a href="javascript:void(0);" title="Pilih" onclick="Pilih('{ID}', '{NAMA}');">
                     <img src="images/button-check.gif" alt="Pilih" />
                  </a>
               </td>
            </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
<!-- end: Table List -->
<script type="text/javascript">
function Pilih (id, nama) {
   var txtUnitId     = document.getElementById('txt_unit_id');
   var txtUnitNama   = document.getElementById('txt_unit');

   txtUnitId.value   = id;
   txtUnitNama.value = nama;
   popupClose();
}
</script>
<!-- /patTemplate:tmpl -->