<!-- patTemplate:tmpl name="content" -->
<style>
    
    .status_label {
        padding: 3px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        min-width: 40px;
        display: inline-block;

    }
    .green{
        border: 1px solid #9ce183;
        background-color: #9ce183;
        color: #1b4a0a;
    }
    .pink{
        border: 1px solid #f680b6;
        background-color: #f680b6;
        color: #a4024c;
    }
    .grey{
        border: 1px solid #dbe4d7;
        background-color: #dbe4d7;
        color: #6f6e6a;
    }
    
</style>
<script language="javascript" type="text/javascript">
	function centangin_semua(varname, start_num, end_num) {
		var obj = document.getElementById('cek_all');
		var ceks;
		if(obj.checked == false) {
			for(i=start_num;i<=end_num;i++) {
				ceks = document.getElementById(varname + i);
				if(ceks) ceks.checked = false;
			}
		} else {
			for(i=start_num;i<=end_num;i++) {
				ceks = document.getElementById(varname + i);
				if(ceks) ceks.checked = true;
			}
		}
	}
	function show_checkbox () {
		if(document.getElementById('cek_all'))
			document.getElementById('cek_all').style.display='';
	}
	document.onload = show_checkbox();
</script>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="manajemen_kelompok_laporan" / --></h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>
       <tr>
            <th width="130"><!-- patTemplate:gtfwgetconfig config="language" name="jenis_laporan" / --></th>
            <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jns_lap"  / -->
            </td>
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" <!-- patTemplate:gtfwgetconfig config="language" name="tampilkan" / --> &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>

<br />

   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->

   <br />
   <form method="POST" action="{URL_DELETE}" class="xhr_simple_form dest_subcontent-element" id="form_list">
   
   <table class="table-common" width="100%">
      <tr>
        
         
         <th><!-- patTemplate:gtfwgetconfig config="language" name="kelompok_laporan" / --></th>
         <th width="30"><!-- patTemplate:gtfwgetconfig config="language" name="fungsi" / --></th>
         <th width="170"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="2" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr>
        
               <td style="padding-left: {KELLAP_PADDING}px; font-weight: {KELLAP_SUMMARY_STYLE_B};font-style:{KELLAP_SUMMARY_STYLE} ">{KELLAP_NO_URUT} : {KELLAP_NAMA}</td>
               <td align="center">
                    <!-- patTemplate:tmpl name="status_fungsi" type="condition" conditionvar="STATUS_FUNGSI" -->
                    <!-- patTemplate:sub condition="MENAMBAH" -->                    
                        <label class="status_label green">(+)</label>
                    <!-- /patTemplate:sub -->
                    <!-- patTemplate:sub condition="MENGURANG" -->   
                        <label class="status_label pink">(-)</label>
                    <!-- /patTemplate:sub -->
                    <!-- patTemplate:sub condition="SUMMARY" -->    
                        <label class="status_label grey">sum</label>
                    <!-- /patTemplate:sub -->
                    <!-- patTemplate:sub condition="NONE" -->    
                            
                    <!-- /patTemplate:sub -->                    
                <!-- /patTemplate:tmpl -->
               </td>
               <td class="links" align="center">
                  
                  <!-- patTemplate:tmpl name="tombol" type="condition" conditionvar="IS_PARENT" -->
                    <!-- patTemplate:sub condition="YES" -->
                     <a class="set_active" href="{KELLAP_URL_IS_TAMBAH}" data-id="{KELLAP_ID}" title="Set Fungsi"><img src="images/icons/16/{KELLAP_ICON_IS_TAMBAH}" alt="set fungsi"/></a>
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_EDIT}" title="<!-- patTemplate:gtfwgetconfig config="language" name="ubah" / -->"><img src="images/button-edit.gif" alt="Ubah"/></a>
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_ADD}" title="<!-- patTemplate:gtfwgetconfig config="language" name="tambah" / -->"><img src="images/button-add.gif" alt="Tambah"/></a>
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_SUM}" title="SUM"><img src="images/icons/16/sigma_icon_16.png" alt="Formla SUM Kelompok Laporan" /></a>
                        
                    <!-- /patTemplate:sub -->
                    <!-- patTemplate:sub condition="NO" --> 
                        <a class="set_active" href="{KELLAP_URL_IS_TAMBAH}" data-id="{KELLAP_ID}" title="Set Fungsi"><img src="images/icons/16/{KELLAP_ICON_IS_TAMBAH}" alt="set fungsi"/></a>
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_EDIT}" title="<!-- patTemplate:gtfwgetconfig config="language" name="ubah" / -->"><img src="images/button-edit.gif" alt="Ubah"/></a>
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_DETAIL}" title="<!-- patTemplate:gtfwgetconfig config="language" name="detil" / -->"><img src="images/button-detail.gif" alt="detil"/></a>    
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_HAPUS}" title="<!-- patTemplate:gtfwgetconfig config="language" name="hapus" / -->"><img src="images/button-delete.gif" alt="Hapus"/></a>
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_ADD}" title="<!-- patTemplate:gtfwgetconfig config="language" name="tambah" / -->"><img src="images/button-add.gif" alt="Tambah"/></a>
                    <!-- /patTemplate:sub -->
                    <!-- patTemplate:sub condition="SUMMARY" -->                        
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_EDIT}" title="<!-- patTemplate:gtfwgetconfig config="language" name="ubah" / -->"><img src="images/button-edit.gif" alt="Ubah"/></a>                        
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_HAPUS}" title="<!-- patTemplate:gtfwgetconfig config="language" name="hapus" / -->"><img src="images/button-delete.gif" alt="Hapus"/></a>
                    <!-- /patTemplate:sub -->
                     <!-- patTemplate:sub condition="ROOT" -->
                        <a class="set_active" href="{KELLAP_URL_IS_TAMBAH}" data-id="{KELLAP_ID}" title="Set Fungsi"><img src="images/icons/16/{KELLAP_ICON_IS_TAMBAH}" alt="set fungsi"/></a>                        
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_ADD}" title="<!-- patTemplate:gtfwgetconfig config="language" name="tambah" / -->"><img src="images/button-add.gif" alt="Tambah"/></a>
                        <a class="xhr dest_subcontent-element" href="{KELLAP_URL_SUM}" title="SUM"><img src="images/icons/16/sigma_icon_16.png" alt="Formla SUM Kelompok Laporan" /></a>                        
                    <!-- /patTemplate:sub -->
                <!-- /patTemplate:tmpl -->
                
               </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
   </form>
   <br />
      <div class="petunjuk-area">
      <h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / -->:</h4>
      <ul>
         <li><img src="images/button-edit.gif" alt="Ubah"/> = Untuk Edit kelompok laporan</li>
         <li><img src="images/button-delete.gif" alt="Ubah"/> = Untuk Delete kelompok laporan</li>
         <li><img src="images/button-add.gif" alt="Ubah"/> = Untuk Menambah kelompok laporan</li>
         <li><img src="images/button-detail.gif" alt="Ubah"/> = Untuk Menambah COA kedalam kelompok laporan</li>
         <li><img src="images/icons/16/sigma_icon_16.png" alt="Formla SUM Kelompok Laporan" /> = Untuk Menambahkan Item penjumlahan pada kelompok laporan</li>
         
      </ul>
   </div>
<!-- /patTemplate:tmpl -->
