<!-- patTemplate:tmpl name="content" -->
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
    function pilih(id,kode,label){
        //if(document.getElementById('kegrefId').value != ''){
            document.getElementById('KOMP_Place_Holder').deleteAllItem();
        //}
        //if(document.getElementById('kegrefIdTujuan').value != ''){
            document.getElementById('KOMP_Place_Holder2').deleteAllItem();
       // }
        document.getElementById('mak_id').value = id;
		document.getElementById('mak_nama').value = kode.replace("\'","'");
		document.getElementById('mak_nama_ro').value= label;
        document.getElementById('kegrefId').value = '';
        document.getElementById('kegrefNomor').value = '';
        document.getElementById('kegrefNama').value = '';
        document.getElementById('kegrefIdTujuan').value = '';
        document.getElementById('kegrefNomorTujuan').value = '';
        document.getElementById('kegrefNamaTujuan').value = '';
        
		popupClose();
    }
// ]]>
</script>
   <h1 id="">MAK</h1>
   <form method="post" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" id="filterbox">
      <table>
		<tr>
			<th colspan="2">
			    <strong>
			        <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
			    </strong>
			</td>
		</tr>
         <tr>
            <th width="20%">
                <!-- patTemplate:gtfwgetconfig config="language" name="mak_kode" / --> / 
                <!-- patTemplate:gtfwgetconfig config="language" name="mak_nama" / -->
            </th>
            <th>
                <input type="hidden" name="prog_id" value="{PROGRAM_ID}" id="program_id" />
                <input type="hidden" name="unit_id" value="{UNIT_ID}" id="unit_id" />
                <input type="hidden" name="kegiatan" value="{KEGIATAN}" id="kegiatan" />
                <input type="hidden" name="output" value="{OUTPUT}" id="output" />
                <input type="hidden" name="sub_id" value="{SUB_ID}" id="sub_id" />
                <input type="text" name="nama" value="{NAMA}" size="35" maxlength="30" />
            </th>
         </tr>
         <tr>
            <th></th>
            <th>
               <input type="submit" name="action" value="Cari &rarr;" class="buttonSubmit" />
            </th>
         </tr>
      </table>
   </form>
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" 
   action="view" name="paging_top"  / -->
   </div>
   <!-- start: Table List -->
         <table class="table-common" width="100%">
            <tr>
               <th width="30" align="left">No</th>
               <th width="95px">
                  Kode
               </th>
               <th>
                  Nama
               </th>
               <th width="20px">
                  Aksi
               </th>
            </tr>
            <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
               <!-- patTemplate:sub condition="YES" -->
               <tr><td colspan="6" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
               <!-- /patTemplate:sub -->
               <!-- patTemplate:sub condition="NO" -->
                  <!-- patTemplate:tmpl name="data_item" -->
                  <tr class="{CLASS_NAME}">
                     <td align="center">{NOMOR}</td>
                     <td>
                        {KODE}
                     </td>
                     <td>
                        {NAMA}
                     </td>
                     <td class="links" align="center">
                        <a href="#" onclick="javascript:pilih('{ID}','{KODE}','{NAMA}');" title="Pilih"><img src="images/button-check.gif"></a>
                     </td>
                  </tr>
                  <!-- /patTemplate:tmpl -->
               <!-- /patTemplate:sub -->
            <!-- /patTemplate:tmpl -->
         </table>
      <!-- stop: Table List -->
<!-- /patTemplate:tmpl -->
