<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
   .pageBar{
      max-width: 98%;
      background-color: #FFF;
      padding: 0.6em 0.4em;
      height: auto;
      border-bottom: #ece9d6 1px solid;
      -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
   }
   .clearfix{
      display: table;
      clear: both;
      content: ' ';
      line-height: 0;
   }
</style>
<h1>
   Pencatatan Transaksi Pembayaran
</h1>
<br />
<form method="POST" action="{URL_SEARCH}" id="filterbox" name="filterbox" class="dataquest xhr_simple_form dest_subcontent-element">
   <table>
      <tr class="subhead">
         <th colspan="2">
            <h2>
               <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 100px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
         </th>
         <td>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="start_date"  / -->
            </div>
            <div>
               <!-- patTemplate:gtfwgetconfig config="language" name="s_d" / -->
            </div>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="end_date"  / -->
            </div>
         </td>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="periode_pembayaran" / -->
         </th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="Combobox" action="view" name="periode_bayar"  / -->
         </td>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="tipe" / -->
         </th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="Combobox" action="view" name="type"  / -->
         </td>
      </tr>
      <tr>
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnSearch" value="Tampilkan &raquo;" class="buttonSubmit" />
            <input type="reset" name="btnReset" value="Reset" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<form name="frmInput" id="frmInput" class="xhr_form dest_subcontent-element" method="post" action="{URL_ACTION}">
   <input type="hidden" name="tanggal_awal" value="{TANGGAL_AWAL}" />
   <input type="hidden" name="tanggal_akhir" value="{TANGGAL_AKHIR}" />
   <input type="hidden" name="type" value="{TYPE}" />
   <!-- start: Table List -->
      <div class="pageBar">
         <div class="toolbar">
            <a href="{URL_LIST}" class="xhr dest_subcontent-element" title="List Transaksi">
               <img src="images/icons/16/transkrip_nilai.gif" alt="daftar" /> Daftar Transaksi
            </a>
            <!-- patTemplate:tmpl name="button" visibility="hidden" -->
               <input type="submit" name="btnProcess" value=" Proses " class="inputButton" />
            <!-- /patTemplate:tmpl -->
            <div class="clearfix"></div>
         </div>
         <div class="clearfix"></div>
      </div>

   <table class="table-common" width="100%">
      <thead>
         <tr>
            <th style="width: 20px;">
               &nbsp;
            </th>
            <th style="width: 95px;">
               Jenis Biaya
            </th>
            <th>
               Penanggung Jawab
            </th>
            <th style="width: 135px;">
               <!-- patTemplate:gtfwgetconfig config="language" name="nominal_rp" / -->
            </th>
            <th style="width: 135px;">
               <!-- patTemplate:gtfwgetconfig config="language" name="potongan_rp" / -->
            </th>
         </tr>
      </thead>
      <tbody>
         <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
            <!-- patTemplate:sub condition="YES" -->
               <tr>
                  <td colspan="5">
                     <center>
                        <em>
                           <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->
                        </em>
                     </center>
                  </td>
               </tr>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="NO" -->
               <!-- patTemplate:tmpl name="data_list" -->
                  <input type="hidden" name="data[{INDEX}][jenis_biaya]" value="{JENIS_BIAYA}" />
                  <input type="hidden" name="data[{INDEX}][penanggung_jawab]" value="{PENANGGUNG_JAWAB}" />
                  <input type="hidden" name="data[{INDEX}][nominal]" value="{NOMINAL}" />
                  <input type="hidden" name="data[{INDEX}][type]" value="{TYPE}" />
                  <tr class="{DATA_CLASS_NAME}">
                     <td>
                        &nbsp;
                     </td>
                     <td>
                        {JENIS_BIAYA}
                     </td>
                     <td>
                        {PENANGGUNG_JAWAB}
                     </td>
                     <td align="right">
                        {NOMINAL_LABEL}
                     </td>
                      <td align="right">
                        {POTONGAN_LABEL}
                     </td>
                  </tr>
               <!-- /patTemplate:tmpl -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
      </tbody>
   </table>
   <!-- end: Table List -->
</form>
<!-- /patTemplate:tmpl -->