<!-- patTemplate:tmpl name="content" -->
<div class="toolbar"> 
    <a class="xhr dest_subcontent-element" href="{PROFILE_URL_EDIT}" title="Ubah Profil" ><img src="images/button-edit.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="ubah_profile" / --></a> 	
    <a class="xhr dest_subcontent-element" href="{URL_UPDATE_PASSWORD}" title="Ubah Password" ><img src="images/button-reset_password.gif" alt=""> <!-- patTemplate:gtfwgetconfig config="language" name="ubah_password" / --></a> 	
</div>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="profil_pengguna" / --></h1>
<br/>

   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div><br/>
   <!-- /patTemplate:tmpl -->
   
   <table class="table-details" width="100%">
      <tr class="subhead">
         <th colspan="2"><!-- patTemplate:gtfwgetconfig config="language" name="data_profil" / --></td>
      </tr>
      <tr>
         <th width="100" align="left"><!-- patTemplate:gtfwgetconfig config="language" name="nama_user" / --></th><td> {USERNAME} </td>
      </tr>
     <!--  <tr>
         <th>No Pegawai</th><td> {NO_PEGAWAI}</td>
      </tr> -->
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="nama_lengkap" / --></th><td> {PENGGUNA}</td>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="deskripsi" / --></th><td> {DESKRIPSI}</td>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="status" / --></th><td> {STATUS}</td>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="nama_group" / --></th><td> {NAMA_GROUP}</td>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="hak_aksees" / --></th>
         <td> 
            <!-- patTemplate:tmpl name="list_hak_akses" -->
            {HAK_AKSES}
            <!-- /patTemplate:tmpl -->
         </td>
      </tr>  
   </table>
   
   <div class="petunjuk-area">
      <h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / --></h4>
      <ul>
         <li>Untuk merubah password atau merubah data klik tombol Ubah Password atau Ubah Profil yang berada di kanan atas</li>
      </ul>
   </div>
<!-- /patTemplate:tmpl -->
