<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	function setParent(xid, xlabel) {
		document.getElementById('sumber_dana').value=xid;
		document.getElementById('sumber_dana_label').value=xlabel;
		popupClose();	
	}
</script>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="list_sumber_dana" / --></h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_popup-subcontent" id="filterboxpopup">
   <table>
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>
	 <tr>
		<th><!-- patTemplate:gtfwgetconfig config="language" name="nama" / --></th>
		<td>
			<input type="text" name="nama_sumber_dana" value="{NAMA}" size="30" />
		</td>
	 </tr>
	 <tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>
<br />
   
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   </div>
   <br />
   <table class="table-common" width="100%">
      <tr>
         <th width="5"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="sumber_dana" / --></th>
         <th width="31"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data_sumber_dana_subkegiatan" type="condition" conditionvar="SUMBER_DANA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="5" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_sumber_dana_item" -->
            <tr class="{SD_CLASS_NAME}">
               <td align="center">{SD_NUMBER}</td>
               <td>{SD_NAMA}</td>
			   <td class="links" align="center">
					<a href="javascript:void(0)" onclick="javascript:setParent('{SD_ID}','{SD_LINKNAMA}')"><img alt="Pilih" src="images/button-check.gif"/></a>
               </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
<div>
<!-- /patTemplate:tmpl -->