<!-- patTemplate:tmpl name="content" -->
<h1>
   Laporan Realisasi Pengeluaran
</h1>
<br />
<form method="POST" action="{URL_SEARCH}" id="filterbox" name="filterbox" class="dataquest xhr_simple_form dest_subcontent-element">
   <table>
      <tr class="subhead">
         <th colspan="2">
            <h2>
               <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 130px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="periode_tahun" / -->
         </th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="Combobox" action="view" name="periode_tahun"  / -->
         </td>
      </tr>
      <!-- patTemplate:tmpl name="data_unit" type="condition" conditionvar="LEVEL" -->
         <!-- patTemplate:sub condition="PARENT" -->
            <tr>
               <th>
                  <!-- patTemplate:gtfwgetconfig config="language" name="unit" / --> /
                  <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / -->
               </th>
               <td>
                  <input type="hidden" name="unit_id" value="{UNIT_ID}" id="src_unit_id" />
                  <input type="text" name="unit_nama" value="{UNIT_NAMA}" id="src_unit_nama" readonly size="35" />
                  <input type="button" value=" ... " onclick="showPopup('{URL_POPUP_UNIT}', '', 600, 500);" />
               </td>
            </tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="CHILD" -->
            <tr>
               <th>
                  <!-- patTemplate:gtfwgetconfig config="language" name="unit" / --> /
                  <!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / -->
               </th>
               <td>
                  <input type="hidden" name="unit_id" value="{UNIT_ID}" id="src_unit_id" />
                  <input type="hidden" name="unit_nama" value="{UNIT_NAMA}" id="src_unit_nama" />
                  <label style="font-weight: bold;">
                     {UNIT_NAMA}
                  </label>
               </td>
            </tr>
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
         </th>
         <td>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="start_date"  / -->
            </div>
            <div>
               <!-- patTemplate:gtfwgetconfig config="language" name="s_d" / -->
            </div>
            <div>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="end_date"  / -->
            </div>
         </td>
      </tr>
      <tr>
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnSearch" value="Tampilkan &raquo;" class="buttonSubmit" />
            <input type="reset" name="btnReset" value="Reset" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   <div class="toolbar">
      <a href="{URL_EXPORT_EXCEL}" title="Export Excel" target="_blank">
         <img src="images/icons/16/export_excel.gif" alt="excel">
         Export Laporan
      </a>
   </div>
</div>
<table class="table-common" width="100%">
   <thead>
      <tr>
        <th rowspan="2">
         <!-- patTemplate:gtfwgetconfig config="language" name="no" / -->
        </th>
         <th width="111" rowspan="2">
            <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
         </th>
         <th colspan="2">
            <!-- patTemplate:gtfwgetconfig config="language" name="program" / -->,
            <!-- patTemplate:gtfwgetconfig config="language" name="kegiatan" / -->,
            <!-- patTemplate:gtfwgetconfig config="language" name="sub_kegiatan" / -->
         </th>
         <th rowspan="2">
            Anggaran Awal (Rp)
         </th>
         <th rowspan="2">
            Anggaran Revisi (Rp)
         </th>
         <th rowspan="2">
            Total Setelah Revisi (Rp)
         </th>
         <th rowspan="2">
            Pengajuan FPA (Rp)
         </th>
         <th rowspan="2">
            Fpa Disetujui (Rp)
         </th>
         <th rowspan="2">
            Sisa Saldo (Rp)
         </th>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
      </tr>
   </thead>
   <tbody>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
            <tr>
               <td colspan="11" align="center">
                  <em>-- <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / --> --</em>
               </td>
            </tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_list" -->
               <tr class="{CLASS_NAME}" style="{ROW_STYLE}">
                  <td align="center">
                     {NOMOR}
                  </td>
                  <td>
                     <!-- patTemplate:var name="TANGGAL"  modifier="gtfwindonesiandate" format="long" separator=" " / -->
                  </td>
                  <td>
                     {KODE}
                  </td>
                  <td>
                     {NAMA}
                  </td>
                  <td style="text-align:right;">
                     {NOMINAL_ANGGARAN_AWAL}
                  </td>
                  <td style="text-align:right;">
                     {NOMINAL_ANGGARAN_REVISI}
                  </td>
                  <td style="text-align:right;">
                     {NOMINAL_ANGGARAN_SETUJU}
                  </td>
                  <td style="text-align:right;">
                     {NOMINAL_USULAN}
                  </td>
                  <td style="text-align:right;">
                     {NOMINAL_SETUJU}
                  </td>
                  <td style="text-align:right;">
                     {NOMINAL_SISA_SALDO}
                  </td>
               </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </tbody>
</table>
<!-- /patTemplate:tmpl -->