<!-- patTemplate:tmpl name="content" -->
<h1>
   Bukti Transaksi
</h1>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="pageBar">
   <div class="toolbar">
      <a class="xhr dest_subcontent-element" href="{URL_LIST}" title="Daftar Data" >
         <img src="images/icons/16/button-clipboard.gif" alt="">
         Daftar Transaksi
      </a>
      <a class="xhr dest_subcontent-element" href="{URL_EDIT}" title="Ubah Data" style="display: none;">
         <img src="images/icons/16/button-edit.gif" alt="">
         Ubah Data
      </a>
      <a class="xhr dest_subcontent-element" href="{URL_ADD}" title="Tambah Data" >
         <img src="images/icons/16/button-add.gif" alt="">
         Tambah Data
      </a>
      <a href="{URL_EXPORT}" title="Export Data" target="_blank">
         <img src="images/icons/16/export_excel.gif" alt="">
         Export Bukti Transaksi
      </a>
   </div>
</div>

<table class="table-details" style="width: 100%;">
   <tr class="subhead" style="display: none;">
      <th style="width: 130px;">
         Nomor Referensi
      </th>
      <td>
         {NOMOR}
      </td>
   </tr>
   <tr class="subhead">
      <th style="width: 130px;">
         BPKB
      </th>
      <td>
         {BPKB}
      </td>
   </tr>
   <tr class="subhead">
      <th style="width: 130px;">
         <!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / -->
      </th>
      <td>
         <!-- patTemplate:var name="tanggal" modifier="gtfwindonesiandate" format="long" separator=" " / -->
      </td>
   </tr>
   <tr class="subhead">
      <th style="width: 130px;">
         Diterima Dari
      </th>
      <td>
         {NAMA_PENYETOR} - {REKENING_PENYETOR}
      </td>
   </tr>
   <tr class="subhead">
      <th style="width: 130px;">
         Kepada
      </th>
      <td>
         {BANK_PENERIMA} - {REKENING_PENERIMA}
      </td>
   </tr>
   <tr class="subhead">
      <th style="width: 130px;">
         Banyaknya
      </th>
      <td>
         {TERBILANG}
      </td>
   </tr>
   <tr class="subhead">
      <th colspan="2">
         KOMPONEN
      </th>
   </tr>
   <tr>
      <td colspan="2" style="padding: 0px;">
         <!-- start: Table List -->
         <table class="table-common" width="100%">
            <tr>
               <th>
                  <!-- patTemplate:gtfwgetconfig config="language" name="keterangan" / -->
               </th>
               <th style="width: 195px;">
                  <!-- patTemplate:gtfwgetconfig config="language" name="jumlah" / -->
               </th>
            </tr>
            <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
               <!-- patTemplate:sub condition="YES" -->
                  <tr>
                     <td colspan="2">
                        <center>
                           <em>
                              <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->
                           </em>
                        </center>
                     </td>
                  </tr>
               <!-- /patTemplate:sub -->
               <!-- patTemplate:sub condition="NO" -->
                  <!-- patTemplate:tmpl name="data_list" -->
                     <tr class="{CLASS_NAME}">
                        <td>
                           {NAMA}
                        </td>
                        <td align="right">
                           {NOMINAL}
                        </td>
                     </tr>
                  <!-- /patTemplate:tmpl -->
               <!-- /patTemplate:sub -->
            <!-- /patTemplate:tmpl -->
            <!-- patTemplate:tmpl name="total_komponen" visibility="hidden" -->
               <tfoot>
                  <tr>
                     <th>
                        <!-- patTemplate:gtfwgetconfig config="language" name="total" / -->
                     </th>
                     <td align="right">
                        {NOMINAL}
                     </td>
                  </tr>
               </tfoot>
            <!-- /patTemplate:tmpl -->
         </table>
         <!-- end: Table List -->
      </td>
   </tr>
</table>
<!-- /patTemplate:tmpl -->