<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">

	
	function show_detail_jurnal(url)
	{
		showPopup(url,'',650,500);
	}
	

</script>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="history_transaksi_transaksi" / --> SPJ</h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table  width="100%">
      <tr>
         <th colspan="2"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
      </tr>
	  <tr>              
		 <th width="150"><!-- patTemplate:gtfwgetconfig config="language" name="periode" / --></th>
		 <td><!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="mulai" / -->&nbsp;<!-- patTemplate:gtfwgetconfig config="language" name="s_d" / -->&nbsp;<!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="selesai" / -->
		 </td>
		</tr>
		<tr>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="no_bukti" / --></th>
			<td>
				<input type="text" name="nomor_bukti" id="nomor_bukti" value="{NOMOR_BUKTI}" /><br />
			</td>
		</tr>

		<tr>            
         <th><!-- patTemplate:gtfwgetconfig config="language" name="status_jurnal" / --></th>
         <td><!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="posting"  / --></td>
      </tr>
		<tr>
		<th></th>
		<td>
		<input type="submit" name="btncari" value="<!-- patTemplate:gtfwgetconfig config="language" name="tampilkan" / --> &raquo;" class="buttonSubmit"/>
		</td>
	</tr>
	  <!-- patTemplate:tmpl name="periode_item" visibility="hidden" --><tr>
		<th><!-- patTemplate:gtfwgetconfig config="language" name="transaksi" / --> </th>
		<td><!-- patTemplate:var name="LIST_PERIODE" 
						modifier="gtfwindonesiandate" format="long" separator=" " / --><br />
		</td>
	</tr>
	<!-- /patTemplate:tmpl -->
   </table>
</form>

<br />
   
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->

   <br />
   <form method="POST" action="{URL_DELETE}" class="xhr_simple_form dest_subcontent-element" id="form_list">
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      
   </div>
   <table class="table-common" width="100%">
      <tr>
         <th width="5" ><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>
         <!--<th width="5"><input type="checkbox" style="display:none" name="cek_all" id="cek_all" value="ALL" onclick="centangin_semua('detil_id_','{FIRST_NUMBER}','{LAST_NUMBER}');" /></th>-->
         <th width="100"><!-- patTemplate:gtfwgetconfig config="language" name="tanggal" / --></th>
         <th width="150"><!-- patTemplate:gtfwgetconfig config="language" name="no_bukti" / --></th>
         <!-- th><!-- patTemplate:gtfwgetconfig config="language" name="jenis" / --></th>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="tipe" / --></th -->
         <th><!-- patTemplate:gtfwgetconfig config="language" name="uraian" / --></th>
         <th width="120"><!-- patTemplate:gtfwgetconfig config="language" name="penanggung_jawab" / --></th>
         <th width="80"><!-- patTemplate:gtfwgetconfig config="language" name="status_jurnal" / --></th>
         <th width="120"><!-- patTemplate:gtfwgetconfig config="language" name="total_rp" / --></th>
         <th width="100"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="9" align="center"><em> <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / --> </em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}">
               <td align="center">{DATA_NUMBER}</td>
			      <!--<td align="center">
					<input type="checkbox" name="id[]" id="detil_id_{DATA_NUMBER}" value="{DATA_ID}" /><input type="hidden" name="name[{DATA_ID}]" value="{DATA_URAIAN}" /></td>-->
               <td width="100" align="right"><!-- patTemplate:var name="DATA_TANGGAL" 
						modifier="gtfwindonesiandate" format="long" separator=" " / --></td>
               <td>{DATA_NO_BUKTI}</td>
               <!-- td>{DATA_JENIS}</td>
               <td>{DATA_TIPE}</td -->
               <td>{DATA_URAIAN}</td>
               <td>{DATA_PENANGGUNG_JAWAB}</td>
               <td align="center">
				     <!-- patTemplate:tmpl name="is_jurnal" type="condition" conditionvar="IS_JURNAL" -->				     
						<!-- patTemplate:sub condition="NO" -->
							<img src="images/lamp-red.gif" style="padding-top: 4px;" />
                        <!-- /patTemplate:sub -->
                        <!-- patTemplate:sub condition="YES" -->
                             <img src="images/lamp-green.gif" style="padding-top: 4px;" />
                        <!-- /patTemplate:sub -->
					<!-- /patTemplate:tmpl -->
			   </td>
               <td align="right">{DATA_NOMINAL_LABEL}</td>
               <td class="links">
					<!-- patTemplate:tmpl name="is_jurnal_action" type="condition" conditionvar="IS_JURNAL" -->
						<!-- patTemplate:sub condition="NO" -->
							<a href="{DATA_URL_ADD_JURNAL}"  class="xhr dest_subcontent-element" >
								<img src="images/button-tindaklanjuti.gif" style="padding-top: 4px;" />
							</a>  
						<!-- /patTemplate:sub -->
                        <!-- patTemplate:sub condition="YES" -->	
							<a  onclick="javascript:show_detail_jurnal('{DATA_URL_POPUP_DETAIL_JURNAL}')" href="javascript:void(0)" >
								<img src="images/button-detail.gif" style="padding-top: 4px;" />
							</a>  
								<!-- patTemplate:tmpl name="is_jurnal_approved" type="condition" conditionvar="IS_JURNAL_APPROVED" -->
								<!-- patTemplate:sub condition="NO" -->
									<a href="{DATA_URL_EDIT_JURNAL}"  class="xhr dest_subcontent-element" >
										<img src="images/button-edit.gif" style="padding-top: 4px;" />
									</a>  
									<a href="{DATA_URL_HAPUS_JURNAL}"  class="xhr dest_subcontent-element" >
										<img src="images/button-delete.gif" style="padding-top: 4px;" />
									</a>  
								<!-- /patTemplate:sub -->
								<!-- patTemplate:sub condition="YES" -->	
								
								<!-- /patTemplate:sub -->
								<!-- /patTemplate:tmpl -->	
								
						<!-- /patTemplate:sub -->
					<!-- /patTemplate:tmpl -->	
               </td>
               
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
   </form>
   <br /> 
<div class="petunjuk-area">
    <h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / -->:</h4>
    <ul>
        <li>
			<!-- patTemplate:gtfwgetconfig config="language" name="klik" / -->&nbsp;
			<img src="images/button-tindaklanjuti.gif" />&nbsp;
			<!-- patTemplate:gtfwgetconfig config="language" name="untuk_proses_pencataan_jurnal" / -->. 
		</li>        
        <li>
			<!-- patTemplate:gtfwgetconfig config="language" name="klik" / -->&nbsp;
			<img src="images/button-detail.gif" />&nbsp;
			Untuk Melihat Detail Transaksi.
		</li>        
        <li>
			<!-- patTemplate:gtfwgetconfig config="language" name="klik" / -->&nbsp;
			<img src="images/button-edit.gif" />&nbsp;
			Untuk proses edit jurnal.
		</li>        
        <li>
			<!-- patTemplate:gtfwgetconfig config="language" name="klik" / -->&nbsp;
			<img src="images/button-delete.gif" />&nbsp;
			Untuk proses hapus jurnal.
		</li>        
		<li>
			<img src="images/lamp-green.gif" /> <!-- patTemplate:gtfwgetconfig config="language" name="sudah_dijurnal" / -->.
		</li>
		<li>
			<img src="images/lamp-red.gif" />  <!-- patTemplate:gtfwgetconfig config="language" name="belum_dijurnal" / -->.
		</li>
</div>
<!-- /patTemplate:tmpl -->
