<!-- patTemplate:tmpl name="content" -->
<div class="header" style="height: 36px;">
    <h1>{HEADER_LAPORAN}</h1>
</div>
<br />
<h1><!-- patTemplate:gtfwgetconfig config="language" name="laporan_calk" / --></h1>
<table class="empty-table">
    <tr>
        <td align="left" width="130">  
            <!-- patTemplate:gtfwgetconfig config="language" name="periode" / -->
        </td>
        <td align="left">
            : {TGL_AWAL} s/d {TGL_AKHIR}
        </td>
    </tr>
</table>
<br />
<table class="table-common" width="700px">
    <tr>
        <th align="left">Uraian</th>
        <th width="130">{LABEL_BULAN_INI}</th>
        <th width="130">{LABEL_BULAN_LALU}</th>
        <th width="50">%</th>
    </tr>
    <!-- patTemplate:tmpl name="posisi_keuangan" -->
        <tr class="table-padding">
            <td style="padding-left: {KELLAP_PADDING}px;{KELLAP_STYLE}">{KELLAP_NAMA}</td>
            <!-- patTemplate:tmpl name="status" type="condition" conditionvar="KELLAP_STATUS" -->
                <!-- patTemplate:sub condition="PARENT" -->        
                    <td align="right">
                    </td>
                    <td align="right">
                    </td>
                    <td align="right">
                    </td>
                <!-- /patTemplate:sub --> 
                <!-- patTemplate:sub condition="CHILD" -->     
                    <td align="right">
                    </td>
                    <td align="right">
                    </td>
                    <td align="center"></td>
                <!-- /patTemplate:sub --> 
                <!-- patTemplate:sub condition="SUMMARY" -->        
                    <td align="right">
                        <b>{KELLAP_NOMINAL_SALDO}</b>
                    </td>
                    <td align="right">
                        <b>{KELLAP_NOMINAL_SALDO_LALU}</b>
                    </td>
                    <td align="center">
                        <b>{KELLAP_PERSENTASE}%</b>
                    </td>
                <!-- /patTemplate:sub --> 
            <!-- /patTemplate:tmpl -->
        </tr>
        <!-- patTemplate:tmpl name="is_show_detail" type="condition" conditionvar="SHOW_DETAIL" -->
            <!-- patTemplate:sub condition="YA" -->       
                <!-- patTemplate:tmpl name="posisi_keuangan_coa"  visibility="hidden" -->
                    <tr class="{DATA_CLASS_NAME}">
                        <td style="padding-left: {DET_PADDING}px;">
                            <label class="kode-akun">{DET_NOMOR_COA}. {DET_KELLAP_COA_NAMA} 
                        </td>
                        <td align="right">{DET_KELLAP_NOMINAL_SALDO}</td>
                        <td align="right">{DET_KELLAP_NOMINAL_SALDO_LALU}</td>
                        <td align="center">{DET_PERSENTASE}%</td>
                    </tr>
                <!-- /patTemplate:tmpl -->
                <tr class="{DATA_CLASS_NAME}">
                    <td style="padding-left: {PADDING}px;">
                        <b><label class="kode-akun">Total {PARENT_NAMA}</b>
                    </td>
                    <td align="right"><b>{TOTAL_SALDO}</b></td>
                    <td align="right"><b>{TOTAL_BL}</b></td>
                    <td align="center"><b>{PERSENTASE}%</b></td>
                </tr>
            <!-- /patTemplate:sub --> 
        <!-- /patTemplate:tmpl -->
    <!-- /patTemplate:tmpl -->
</table>
<!-- /patTemplate:tmpl -->
