<!-- patTemplate:tmpl name="content" -->
<center><h1>Laporan Ihktisar Pendapatan Per Program Kegiatan</h1></center>
<br>
<center><h1><!-- patTemplate:gtfwgetconfig config="language" name="tahun_periode" / --> {TAHUN_PERIODE}</h1></center>
<br>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="unit" / --> / 
<!-- patTemplate:gtfwgetconfig config="language" name="sub_unit" / --> : {UNIT_KERJA_LABEL}</h1>   
   <table class="table-common" width="100%">
   <tr>
	   
        <th><!-- patTemplate:gtfwgetconfig config="language" name="kode" / --></th>
        <th >Program / Kegiatan / Jenis Pendapatan</th>
        <th >Target</th>
    </tr>


    <!-- patTemplate:tmpl name="list_data" type="condition" conditionvar="IS_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="3" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
         				<tr style="font-weight: bold">
				<td align="right">023.04.08</td>
				<td align="left" >Pendidikan Tinggi</td>
				<td align="right"><strong>{TOTAL_NOMINAL}</strong></td>
				</tr>
				<tr style="font-style: italic"">
				<td align="right">4078</td>
				<td align="left" >Layanan Pendidikan</td>
				<td align="right"><strong>{TOTAL_NOMINAL}</strong></td>
				</tr>
				<!-- patTemplate:tmpl name="list_data_item" -->
   
				<tr >
				<td align="right">{KODE}</td>
				<td align="left" style="padding-left: {PADDING}px;"  >{NAMA}</td>
				<td align="right">{TARGET}</td>
				</tr>
         
			<!-- /patTemplate:tmpl -->
			<tr >
				<td align="center" colspan="2"><strong>TOTAL BLU</strong></td>
				<td align="right"><strong>{TOTAL_NOMINAL}</strong></td>
				</tr>
		<!-- /patTemplate:sub -->
     <!-- /patTemplate:tmpl -->
    </table> 
<!-- /patTemplate:tmpl -->
