<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	
	function resetFormIni() {
	   GtfwAjax.replaceContentWithUrl("subcontent-element","{URL_RESET}&ascomponent=1");
	}
</script>
<h1><!-- patTemplate:gtfwgetconfig config="language" name="manajemen_jurnal_penyesuaian" / --></h1>
   
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->

   <br />   
   
   <form method="POST" name="frmInput" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">

   <table  width="100%">
      <tr>
         <th  width="150"><h2><strong><!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / --></strong></h2></th>
         <th >&nbsp;</th>
      </tr>
      <tr>            
         <th><!-- patTemplate:gtfwgetconfig config="language" name="interval_pencatatan" / --></th>
         <td>
				<!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tanggal_awal"  / -->
				<b><!-- patTemplate:gtfwgetconfig config="language" name="s_d" / --></b>
				<!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tanggal_akhir"  / --> 
			</td>
      </tr>
		<tr>            
         <th>Referensi</th>
         <td><input type="text" name="referensi" id="referensi" value="{REFERENSI}" size="30"/></td>
      </tr>
		<tr>            
         <th>Status Posting</th>
         <td><!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="posting"  / --></td>
      </tr>
      <tr>
         <td>&nbsp;</td> 
			<td>
				<input name="btnFilter" value=" Filter " class="buttonSubmit" type="submit">
                <input name="btnTampilkan" value=" <!-- patTemplate:gtfwgetconfig config="language" name="tampilkan_semua" / --> " class="buttonSubmit"  type="reset" onclick="resetFormIni();" />
			</td>
      </tr>		 
   </table>
</form>
<br />
   
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / --> 
   <div class="toolbar">
      <a class="xhr dest_subcontent-element" href="{URL_ADD}" title="<!-- patTemplate:gtfwgetconfig config="language" name="tambah_jurnal_umum" / -->" ><img src="images/button-add.gif" alt="^" /><!-- patTemplate:gtfwgetconfig config="language" name="tambah" / --></a> 	   				   
   </div>
   </div>
   <table class="table-common" width="100%">
      <tr>
         <th width="5"><!-- patTemplate:gtfwgetconfig config="language" name="no" / --></th>		 
         <th><!-- patTemplate:gtfwgetconfig config="language" name="referensi" / --></th>
		 <th><!-- patTemplate:gtfwgetconfig config="language" name="tanggal_transaksi" / --></th>
		 <th><!-- patTemplate:gtfwgetconfig config="language" name="keterangan" / --></th>
		 <th><!-- patTemplate:gtfwgetconfig config="language" name="kode_rekening" / --> / <!-- patTemplate:gtfwgetconfig config="language" name="sub_account" / --></th>
		 <th><!-- patTemplate:gtfwgetconfig config="language" name="nama_rekening" / --></th>
		 <th><!-- patTemplate:gtfwgetconfig config="language" name="debet" / --></th>
		 <th><!-- patTemplate:gtfwgetconfig config="language" name="kredit" / --></th>
		 <th><!-- patTemplate:gtfwgetconfig config="language" name="petugas" / --></th>
         <th width="95"><!-- patTemplate:gtfwgetconfig config="language" name="aksi" / --></th>
      </tr>
      <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="IS_DATA_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="10" align="center"><em>--<!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->--</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_item" -->
            <tr class="{DATA_CLASS_NAME}">
               {DATA_NOMOR}
			   {DATA_REFERENSI_VIEW}
			   {DATA_TANGGAL_VIEW}
			   {DATA_KETERANGAN_VIEW}
			    <td>{DATA_REKENING_KODE}<br />
			   <hr />
			   00-00-00-00-00-00-00</td>
			   <td>{DATA_REKENING_NAMA}</td>
			   <td align="right">{DATA_DEBET}</td>
			   <td align="right">{DATA_KREDIT}</td>			   
			   {DATA_PETUGAS_ENTRI_VIEW}
            {DATA_AKSI_VIEW}
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
	  
	 
   </table>   
   <br /> 
	<br />
   <div class="petunjuk-area">
      <h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / --></h4>
      <br/>
      <div style="margin: 10px 0px 0px 10px;"><div style="border: 1px solid rgb(209, 198, 152); margin: 1px 5px 0px 0px; padding: 0px; width: 10px; height: 10px; background-color: rgb(255, 251, 221); float: left;">    
	  </div> = <!-- patTemplate:gtfwgetconfig config="language" name="sudah_diposting" / --> </div>
      <div style="margin: 10px 0px 0px 10px;"><div style="border: 1px solid rgb(209, 198, 152); margin: 1px 5px 0px 0px; padding: 0px; width: 10px; height: 10px; background-color: rgb(255, 253, 239); float: left;">    
	  </div> = <!-- patTemplate:gtfwgetconfig config="language" name="belum_diposting" / --> </div>
	  <div style="margin: 10px 0px 0px 10px;"><img src="images/button-cancel-tindaklanjut.gif" alt="Jurnal Balik"> = Jurnal Balik </div>
   </div>
   </div>
   </div>
<!-- /patTemplate:tmpl -->
