<!-- patTemplate:tmpl name="content" -->
<form method="POST" action="{URL_SEARCH}" id="filterboxpopup" name="filterboxpopup" class="dataquest xhr_simple_form dest_popup-subcontent">
   <table>
      <tr class="subhead">
         <th colspan="2">
            <h2>
               <strong>
                  <!-- patTemplate:gtfwgetconfig config="language" name="pencarian" / -->
                  <!-- patTemplate:gtfwgetconfig config="language" name="komponen" / -->
               </strong>
            </h2>
         </th>
      </tr>
      <tr>
         <th style="width: 135px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <td>
            <input type="text" name="kode" id="kode" size="35" value="{KODE}" />
         </td>
      </tr>
      <tr>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <td>
            <input type="text" name="nama" id="nama" size="35" value="{NAMA}" />
         </td>
      </tr>
      <tr>
         <th>
            &nbsp;
         </th>
         <td>
            <input type="submit" name="btnSearch" value="Tampilkan &raquo;" class="buttonSubmit" />
            <input type="reset" name="btnReset" value="Reset" class="buttonSubmit" />
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
</div>
<!-- start: Table List -->
<table class="table-common" width="100%">
   <thead>
      <tr>
         <th style="width: 20px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="no" / -->
         </th>
         <th style="width: 65px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="kode" / -->
         </th>
         <th>
            <!-- patTemplate:gtfwgetconfig config="language" name="nama" / -->
         </th>
         <th style="width: 95px;">
            FPA Kode
         </th>
         <th style="width: 115px;">
            Formula
         </th>
         <th style="width: 115px;">
            Harga Satuan
         </th>
         <th style="width: 25px;">
            <!-- patTemplate:gtfwgetconfig config="language" name="aksi" / -->
         </th>
      </tr>
   </thead>
   <!-- patTemplate:tmpl name="data_grid" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
         <tr>
            <td colspan="7">
               <center>
                  <em>
                     <!-- patTemplate:gtfwgetconfig config="language" name="data_kosong" / -->
                  </em>
               </center>
            </td>
         </tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_list" -->
            <tr class="{CLASS_NAME}">
               <td style="text-align: center;">
                  {NOMOR}
               </td>
               <td style="text-align: center;">
                  {KODE}
               </td>
               <td>
                  {NAMA}
               </td>
               <td style="text-align: center;">
                  {MAK_KODE}
               </td>
               <td style="text-align: center;">
                  {FORMULA}
               </td>
               <td style="text-align: right;">
                  {NOMINAL_LABEL}
               </td>
               <td class="links">
                  <!-- patTemplate:tmpl name="LINK_STATUS" type="condition" conditionvar="SHOW" -->
                     <!-- patTemplate:sub condition="YES" -->
                        <a href="javascript:void(0);" title="Pilih" onclick="Pilih('{ID}', '{KODE}', '{NAMA}', '{NOMINAL}')">
                           <img src="images/button-check.gif" alt="Pilih" />
                        </a>
                     <!-- /patTemplate:sub -->
                     <!-- patTemplate:sub condition="NO" -->
                        &nbsp;
                     <!-- /patTemplate:sub -->
                  <!-- /patTemplate:tmpl -->
               </td>
            </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
<!-- end: Table List -->
<script type="text/javascript">
function Pilih (id, kode, nama, nominal) {
   var detailBelanjaId     = document.getElementById('detail_belanja_id');
   var detailBelanja       = document.getElementById('detail_belanja');
   var nominalSatuan       = document.getElementById('txt_nominal');

   detailBelanjaId.value   = id;
   detailBelanja.value     = nama;
   nominalSatuan.gvSetValue(nominal);

   popupClose();
}
</script>
<!-- /patTemplate:tmpl -->