<!-- patTemplate:tmpl name="content" -->
<h1><!-- patTemplate:gtfwgetconfig config="language" name="manajemen_grup" / --></h1>
<br/>
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="notebox-alert">
      {ISI_PESAN}
   </div>
   <br/>
   <!-- /patTemplate:tmpl -->
   <form method="POST" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput">
      <table class="table-edit"  width="100%">
         <tr class="subhead">
            <th colspan="2">{JUDUL} <!-- patTemplate:gtfwgetconfig config="language" name="grup" / --></th>
         </tr>
         <tr>
            <th><!-- patTemplate:gtfwgetconfig config="language" name="nama_group" / --></th>
            <td><input type="text" name="groupname" value="{GROUPNAME}" size="30" /> *</td>
         </tr>
         <tr>
            <th><!-- patTemplate:gtfwgetconfig config="language" name="deskripsi" / --></th>
            <td><textarea name="deskripsi" cols="65" >{DESKRIPSI}</textarea>
            <input type="hidden" name="grp" value="{GRP}" /></td>
         </tr>
         <tr>
            <th><!-- patTemplate:gtfwgetconfig config="language" name="hak_aksees" / --></th>
            <td>
            <!-- patTemplate:tmpl name="menu" type="condition" conditionvar="MENU_PARENT" -->
               <!-- patTemplate:sub condition="YES" -->
               <h2><b><input type="checkbox" class="CheckBoxFW_parent">{PARENT_MENU}</b></h2>
               <!-- /patTemplate:sub -->
               <!-- patTemplate:sub condition="NO" -->
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" name="menu[]" value="{IDMENU}" class="CheckBoxFW_child" {CHECK}/> {MENU}</label><br>
               <!-- /patTemplate:sub -->
            <!-- /patTemplate:tmpl -->
            <!-- patTemplate:tmpl name="menu_report" type="condition" conditionvar="MENU_PARENT" -->
               <!-- patTemplate:sub condition="YES" -->
               <h2><b><input type="checkbox" class="CheckBoxFW_parent">{DUMMY_MENU}</b></h2>
               <!-- /patTemplate:sub -->
               <!-- patTemplate:sub condition="NO" -->
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" name="menu_report[]" value="{DUMMY_ID}" {CHECKED} class="CheckBoxFW_child" /> {DUMMY_MENU}</label><br>
               <!-- /patTemplate:sub -->
            <!-- /patTemplate:tmpl -->
            </td>
         </tr>
         <tr class="buttons">
            <th></th>
            <td>
               <input type="submit" name="btnsimpan" value=" Simpan " class="buttonSubmit"/>
               <input type="submit" name="btnbatal" value=" Batal " class="buttonSubmit"/>
            </td>
         </tr>
      </table>
   </form>
<br/>
<div class="petunjuk-area">
   <h4><!-- patTemplate:gtfwgetconfig config="language" name="petunjuk" / --></h4>
   <ul>
      <li><!-- patTemplate:gtfwgetconfig config="language" name="info_wajib_diisi" / --></li>
   </ul>
</div>
<script>
CheckBoxFW_initiate = function (Obj)
{
   if (!Obj || Obj.className.indexOf('CheckBoxFW_parent') < 0 || !Obj.form) return;

   var CBList = new Array;
   var CheckedAll = true;
   var FormObj = Obj.form;

   for (var i = 0; i < FormObj.length; i++) if (FormObj[i] == Obj) break;
   if (i == FormObj.length) return;

   for(i += 1; i < FormObj.length; i++)
   {
      var CBObj = FormObj[i];
      if (CBObj.type.toUpperCase() != 'CHECKBOX') continue;
      if (CBObj.className.indexOf('CheckBoxFW_child') >= 0)
      {
         CBObj.onchange = function () {Obj.checkChild();}
         CBList[CBList.length] = CBObj;
         if (!CBObj.checked) CheckedAll = false;
      }
      if (CBObj.className.indexOf('CheckBoxFW_parent') >= 0) break;
   }

   if (CBList.length > 0)
   {
      Obj.onchange = function ()
      {
         for (var i = 0; i < CBList.length; i++)
            CBList[i].checked = this.checked;
      }

      Obj.checkChild = function ()
      {
         var CheckedAll = true;
         for (var i = 0; i < CBList.length; i++) if (!CBList[i].checked)
         {
            CheckedAll = false;
            break;
         }
         this.checked = CheckedAll;
      }

      Obj.checked = CheckedAll;
   }
}

for (var i = 0; i < document.getElementById('frmInput').length; i++)
   CheckBoxFW_initiate(document.getElementById('frmInput')[i]);
</script>
<!-- /patTemplate:tmpl -->
